.banner {
    box-shadow: 0 calc(var(--shadow-height) * -1) 0 var(--shadow-color)
    background: var(--alternative-background-color)
    font-size: var(--secondary-font-size)
    color: var(--primary-text-color)
    padding: calc(var(--padding-small) + var(--padding-mini)) var(--padding-medium)
    display: flex
    align-items: center

    &:hover {
        background: var(--background-color)
    }
}

.icon {
    color: var(--accent-color)
}

.title {
    flex: 1
    margin-right: var(--padding-small)

    b {
        font-weight: 500
    }
}