.outer {
    position: relative
}

.inner {
    transition: opacity .35s linear
}

.body {
    padding: 0 calc(var(--padding-small) + var(--padding-mini))
    padding-bottom: var(--padding-mini)
    max-height: 40vh
    overflow: auto
}

//Floating
.outer[data-floating='true'] {
    .inner {
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        height: 100vh
        z-index: 90
        overflow: hidden
    }
    
    .body {
        max-height: 90vh
        background: var(--background-color)
        padding-bottom: calc(var(--padding-small) + var(--padding-mini))
        box-shadow: 0 var(--shadow-height) 0 var(--shadow-color),
            0 3px 50px rgba(0,0,0,.08)
    }
}

@supports (backdrop-filter: none) {
    .outer[data-floating='true'] .body {
		background: unquote('linear-gradient(to bottom, var(--background-color) 50%, hsla(var(--background-hsl), 0.5) 100%)')
		backdrop-filter: blur(100px)
	}
}

//Loading
.outer[data-status='loading'] {
    .inner {
        opacity: 0
        transition-duration: .2s
    }
}

.item {
    font-weight: normal !important
    margin: var(--padding-mini)
    vertical-align: middle

    .count {
        margin-left: 1rem
        padding-right: 1px
        font-size: var(--tertiary-font-size)
        color: var(--secondary-text-color)
    }
}

.section {
    vertical-align: middle
    font-size: var(--secondary-font-size)
	color: var(--secondary-text-color)
    padding: var(--padding-mini)

    &:not(:first-child) {
        margin-top: var(--padding-small)
    }
}