.path {
    display: inline-flex
    align-items: center
    justify-content: center
    color: inherit
    font-weight: 500
    position: relative
    z-index: 1

    &:hover {
        text-decoration: underline
    }
}

.icon {
    width: var(--padding-medium)
    height: var(--padding-medium)
    margin-right: var(--padding-small)
}