.icon {
    display: flex
    align-items: center
    justify-content: center
    position: relative

    // &:before {
    //     content: ''
    //     position: absolute
    //     left: 0
    //     right: 0
    //     top: 0
    //     bottom: 0
    //     background: currentColor
    //     opacity: .12
    //     border-radius: var(--border-radius)
    // }
}

.important {
    color: var(--important-color)
}
.article {
    color: var(--article-color)
}
.audio {
    color: var(--audio-color)
}
.document {
    color: var(--document-color)
}
.image {
    color: var(--image-color)
}
.video {
    color: var(--video-color)
}
.broken {
    color: var(--broken-color)
}
.duplicate {
    color: var(--duplicate-color)
}
.notag {
    color: var(--tag-color)
}