.important {
    color: var(--important-color)
}
.article {
    color: var(--article-color)
}
.audio {
    color: var(--audio-color)
}
.document {
    color: var(--document-color)
}
.image {
    color: var(--image-color)
}
.video {
    color: var(--video-color)
}
.broken {
    color: var(--broken-color)
}
.duplicate {
    color: var(--duplicate-color)
}
.notag {
    color: var(--tag-color)
}