.item {
    cursor: pointer

    &[data-id='important'] .icon {
        color: var(--important-color)
    }
    &[data-id='article'] .icon {
        color: var(--article-color)
    }
    &[data-id='audio'] .icon {
        color: var(--audio-color)
    }
    &[data-id='document'] .icon {
        color: var(--document-color)
    }
    &[data-id='image'] .icon {
        color: var(--image-color)
    }
    &[data-id='video'] .icon {
        color: var(--video-color)
    }
    &[data-id='broken'] .icon {
        color: var(--broken-color)
    }
    &[data-id='notag'] .icon {
        color: var(--tag-color)
    }
}

.icon {
    display: flex
    align-items: center
    justify-content: center
    position: relative

    &:before {
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: currentColor
        opacity: .12
        border-radius: var(--border-radius)
    }
}