.mode {
	position: absolute
	z-index: 3
	top: 1px
	left: 7px
	right: 7px
	background: white
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 3px 15px rgba(0,0,0,.1)
	border-radius: 4px
}

.header {
    display: flex
    align-items: center
    padding: var(--padding-small) var(--padding-medium)

    .title {
        flex: 1
        font-weight: 500
        font-size: 14px

        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        word-wrap: break-word
    }
}

.actions {
    margin-top: -10px
    display: flex
    align-items: center
    padding: var(--padding-small) 4px
}