.item[data-menu-item] {
    cursor: pointer
    height: var(--button-height)

    &:focus, &:hover {
        --hover-background-color: var(--accent-color)
        color: var(--background-color) !important
        --secondary-text-color: var(--background-color)
    }
}