//scroll bars
html:global(.scrollbar-obtrusive) {
    //firefox specific
    scrollbar-color: var(--shadow-color) transparent;

    ::-webkit-scrollbar {
        width: 0;
        height: 11px
        will-change: width;
        background: transparent;
        transition: width .2s ease-in-out;
    }
    ::-webkit-scrollbar * {
        background: transparent;
    }
    :hover::-webkit-scrollbar, body::-webkit-scrollbar {
        width: 11px
    }

    ::-webkit-scrollbar-thumb {
        border: 3px solid rgba(0,0,0,0);
        border-radius: 11px
        box-shadow: inset 0px 0px 0px 7px var(--shadow-color);
        transition: box-shadow .2s ease-in-out;
    }

    ::-webkit-scrollbar-button{
        width: 0;
        height: 0;
        display: none;
    }
}

::selection {
    background: var(--accent-color)
    color: white;
}

::-moz-selection {
    background: var(--accent-color)
    color: white;
}

figure {
    margin: 0
}

progress::-webkit-progress-value {
    transition: width .3s ease-in-out;
}

html {
    font-size: 16px
}

body, input, textarea, select, button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

html, body, :global(#react) {
    width: 100%
    height: 100%
    overflow: hidden
    margin:0
}

input, textarea, select, button {
    font-size: 1rem
}

input, textarea, select, button {
    color: inherit
}

a {
    color: var(--accent-color)
    text-decoration: none
}

[hidden] {
    display: none !important;
}