figure {
    margin: 0
}

progress::-webkit-progress-value {
    transition: width .3s ease-in-out;
}

html, body, :global(#react) {
    overflow: hidden
    overflow: clip
    margin:0
    width: 100%
    height: 100%
}

[hidden] {
    display: none !important;
}