.cache {
    height: calc(100vh - var(--header-height))
    display: flex
    flex-direction: column
}

.frame {
    flex: 1
    border: 0
}

.status {
    &[data-status='ready'] .icon {
        color: #00A51B
    }

    &[data-status='retry'] .icon {
        color: var(--accent-color)
    }

    &[data-status='failed'], &[data-status^='invalid-'] {
        .icon {
            color: #DC5758
        }
    }

    small {
        opacity: 0.7;
        font-weight: normal;
    }
}

.icon {
    margin-right: 12px !important;
}