{
	"presets": [
		"es2015",
		"react",
		"survivejs-kanban"
	],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": [
				"babel-plugin-transform-remove-console",
				"babel-plugin-transform-remove-debugger"
			]
		},
		"development": {
			"presets": ["react-hmre"]
		}
	}
}