{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 60",
                        "Safari >= 10.1",
                        "iOS >= 10.3",
                        "Firefox >= 54",
                        "Edge >= 79"
                    ]
                },
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties",{"useBuiltIns": false}],
        ["@babel/plugin-proposal-object-rest-spread",{"useBuiltIns": false}],
        "@babel/plugin-syntax-dynamic-import"
    ],
    "env": {
		"production": {
			"plugins": [
                "lodash",
				"transform-remove-console",
                "@babel/transform-react-constant-elements"
			]
		}
	}
}