{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "no-inner-declarations": "off",
    "no-unused-vars": 1,
    "no-debugger": 0,
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "quotes": [1, "single"],
    "jsx-quotes": [1, "prefer-single"],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "no-empty": ["error", {
      "allowEmptyCatch": true
    }]
  },
  "globals": {
    "Promise": true,
    "__TARGET__": true,
    "RAINDROP_ENVIRONMENT": true,
    "Set": true,
    "Map": true,
    "browser": true
  }
}