.form-link-or-file {
    width: 400px

    &.is-dropping:after {
        background: rgba(74,116,226,.1)
		left:0;top:0;right:0;bottom:0;
		content: ""
		position: absolute
		z-index:1
		pointer-events: none
    }
}