.urlPanel {
	.urlLabel {
		margin-bottom: 5px;
	}
	
	.urlField {
		margin-bottom: 3px !important;
	}
	
	.promo {
		textAlign:center;
		overflow:hidden;
		margin-top:-85px;
		margin-bottom: -10px;
		pointer-events: none;
		
		img {
			margin-left:-30px
		}
	}
}

.themeDark .urlPanel .promo {
	opacity: .6;
}