.acceptLicence {
    font-size: var(--secondary-font-size)
    color: var(--secondary-text-color)
    padding-bottom: var(--padding-medium)
    box-shadow: 0 var(--shadow-height) 0 var(--shadow-color)
}