.items {
    display: grid
    grid-auto-flow: column
    grid-auto-columns: minmax(50rem, 75rem) //minmax(200, 300)
    padding-bottom: var(--padding-medium)
    overflow: auto
    scroll-snap-type: x mandatory
}