.item {
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    height: calc( var(--list-item-height) + var(--padding-medium) * 2 )
}

.icon {
    width: var(--list-item-height)
    height: var(--list-item-height)
}

.link {
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
}