.cache {
    height: 100%
    display: flex
    flex-direction: column
}

.frame {
    flex: 1
}

.status {
    box-shadow: 0 var(--shadow-height) 0 var(--shadow-color), 0 1px 3px rgba(0,0,0,.1);
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    //justify-content: center;
    padding: 0 14px;
    padding-bottom: 8px;

    font-size: 15px

    p {
        margin: 0;
        padding: 0;
    }

    &[data-status='ready'] .icon {
        color: #00A51B
    }

    &[data-status='retry'] .icon {
        color: var(--accent-color)
    }

    &[data-status='failed'], &[data-status^='invalid-'] {
        .icon {
            color: #DC5758
        }
    }
}

.icon {
    margin-right: 8px;
}