@require "../consts.styl"

.contextMenuList {
	overflow: hidden;
	padding: 5px 0px;

	.contextMenuItem {
		display: flex;
		align-items: center;
		color: black;
		padding: 2px 16px;
		font-size: 14px;
		cursor: default;
		
		* {
			pointer-events: none;
		}
		
		.svgIcon {
			opacity: .6
		}

		.itemContent {
			flex: 1
			display: flex
			align-items: center

			.svgIcon {
				margin-right: 8px
			}
		}

		.itemCheckedIcon {
			margin-left: 16px
		}
		
		&:hover:not(:active), &.active {
			background: colorTheme;
			background: var(--accentColor, colorTheme);
			color: white;
			
			.svgIcon {
				opacity:1;
			}
		}

		&[disabled] {
			pointer-events: none;
			opacity: .4;
		}
	}
	
	.separator {
		border-top: 1px solid rgba(0,0,0,.1);
		display: block;
		margin: 5px 0px;
	}

	&.selectable {
		.contextMenuItem {
			&:hover:not(:active):not(.active) {
				background: rgba(0,0,0,.1);
				color: black;
			}
		}
	}
	
	&.size-medium {
		.contextMenuItem {
			font-size: 15px;
			padding-top: 4px;
			padding-bottom: 4px;
			
			.svgIcon {
				margin-left:-4px;
			}
		}
	}
}