@require "../consts.styl"

popMaxWidth = 300px;

.pop-content {
	min-width: 300px;
	position: relative;
	font-size: 15px;
	
	.svgIcon {
					vertical-align: -7px;
				}
	
	input[type="text"], textarea {
		border:0;
		box-shadow:none;
		background:transparent;
		padding:0;margin:0;
		display:block;
		resize:none;
		width:100%;
		font-size: inherit;
	}

	header {
		background: white;
		display: flex;
		align-items: flex-start;
		border-bottom: 1px solid rgba(0,0,0,.1);
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;

		> div {
			margin: 12px;
		}
		
		.actions {
			margin: 3px;
			min-width: 46px;
			
			.button {
				height: auto;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		.title {
			@extend .text-overflow;
			align-self: center;
			font-size: 16px;
			line-height: 21px;
			font-weight: 500;
			margin-left: 14px;
			//padding-left: 0;
			//margin-right: 6px;

			.but {
				margin: -4px 0;
			}
			
			textarea {
				max-height: 84px;

				&.small {
					max-height: 86px;
					font-size: 14px;
					font-weight: normal;
					line-height: 17px;
					    color: rgba(0,0,0,.7);
					    margin-top: 5px;
				}
			}
		}

		.sublinks {
			margin: -4px -11px;
			margin-top: 5px;

			a {
				font-weight: normal;
			}
		}
		
		.max {
			flex: 1;
		}

		.center {
			text-align: center;
		}
	}


	.cover {
		cursor: pointer;
		border-radius: 2px;
		display: inline-block;
		position: relative;

		* {
			pointer-events: none;
		}

		.dots {
			position: absolute;
			bottom: -8px;
			left: 0;right:0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:empty {
				display: none;
			}
			
			span {
				width: 4px;height: 4px;
				border-radius: 4px;
				background: transparent;
				box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.25);
				margin: 0px 2px;
				
				&.active {
					background: rgba(0,0,0,.4);
				}
			}
		}
		
		&:after {
			position: absolute;left:0;top:0;bottom:0;right:0;width:100%;height:100%;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.15);
			content: " ";
			border-radius: 2px;
		}
		
		.cover-img {
			object-fit:cover;
			object-position: center;
			width: 50px !important;
			height: 50px !important;
			display:block;
			overflow:hidden;
			border-radius: 2px;

			&.cover-small {
				width: 32px !important;
				height: 32px !important;
				margin: 9px;
			}
		}

		&:hover {
			
			
			&:after {
				box-shadow: inset 0px 0px 0px 1px color-blue;
			}
		}

		&:active {
			background: color-blue;
			
			.cover-img {
				opacity: .7;
			}
		}
	}

	.make-screen {
		border-radius: 2px;
		background: rgba(0,0,0,.05);
		width: 60px;height: 60px;
		//box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.15);
		//border: 1px dotted rgba(0,0,0,.35);
		color: rgba(0,0,0,.7);
		font-size: 12px;
		display: inline-flex;
		align-items: center;
		vertical-align: top;
		margin-left: 14px;
		text-align: center;
		text-decoration: none;
		//margin-right: -4px;
		padding: 4px;

		&:hover {
			border-color: transparent;
			box-shadow: 0px 0px 0px 1px color-blue;
		}
	}

	article {
		margin: 10px 14px;
	}


	.entries {
		display: table;
		margin: 10px 0px;
		margin-bottom:0;
		
		.row {
			display: table-row;
			
			.title, .content {
				display: table-cell;
				padding: 8px 0px;
				vertical-align: top;
			}

			.content {
				vertical-align: middle;
				padding-right: 16px;
				
				&.max {
					width: 100%;
				}

				textarea {
					font-size: 16px;
					max-height: 72px;

					&.small {
						max-height: 86px;
						font-size: 14px;
					}
				}

				.small-icon {
					width: 18px;height:18px;
					vertical-align: -3px;
					margin-right: 10px;
					object-fit: cover;
					object-position: center;
				}

				.content-icon {
					margin-top: -4px;
    				margin-right: 8px;
    				fill: rgba(0,0,0,.4);
    				min-width: 22px;

    				&.icn-mac {
    					    margin-left: -2px;
    				}
				}

				.but {
					    margin: -10px -8px;
				}
			}
			
			.title {
				text-align: right;
				font-size: 13px;
				opacity: .6;
				padding-left: 33px;
				padding-right: 16px;
				white-space: nowrap;
				max-width: 130px;

				&.center {
					vertical-align: middle;
				}

				&.wrap-text {
					white-space: normal;
				}
			}
		}
	}


	footer {
		//padding-top: 0;

		&.invisible {
			visibility: hidden;
		}
	}


	.but {
		font-size: 14px;
		padding: 0px 10px;
		height: 26px;
		line-height: 25px;
		display: inline-block;
		text-decoration: none;
		border-radius: 3px;
		border:0;margin: 6px;box-shadow:none;
		color: rgba(0,0,0,.7);

		.icn {
			fill: rgba(0,0,0,.5);
			vertical-align: -7px;
			
			&.icn-small {
				vertical-align: -4px;
			}

			&.icn-mac {
				vertical-align: -6px;
			}
		}

		&.default {
			
			background: #FFFFFF;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2), inset 0px -1px 0px 0px rgba(0,0,0,0.15);

			

			
		}

		&.accent {
			color: white;
			font-weight: 500;
			line-height: 24px;
			background: color-purple;
			
			&:active {
				background: color-purple-dark;
			}
		}

		&.select {
			position: relative;
			
			select {
				opacity:0;
				position:absolute;left:0;top:0;right:0;bottom:0;
				color:black !important;
				width:100%;height:100%;
				border: none;
			    outline: none;
			    display: inline-block;
			    appearance: none;
			}
		}

		&.onlyicons {
			padding: 0 6px;
		}

		&.file-block {
		    position: relative;
		    overflow:hidden;
		    input[type="file"] {
		      height: 0;width: 0;opacity:0;position:absolute;left:0;top:0;right:0;bottom:0;
		    }
		}
		
		&:active, &.active {
			background: rgba(0,0,0,.1);
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), inset 0px 1px 3px 0px rgba(0,0,0,0.10);
		}
	}
	
	.picker-list, .cover-selector, .centered-content, .list {
		width: popMaxWidth;
	}

	.pop-sticky-header {
		padding-top: 45px;
		position:relative;

		.sticky-header {
			position:absolute;top:0;left:0;right:0;
		}
		
		header {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			position:fixed;
			//background: popBackground;
			width: popMaxWidth;
			z-index:5;
		}
	}


	.with-clear {
		position: relative;
		
		> a {
			position: absolute;
			bottom:-2px;right: -10px;
			background: silver;
			border-radius: 50%;
			width: 22px;
		    height: 22px;
		    text-align: center;
		    transform: scale(0.3);
		    opacity: 0;
		    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
			
			.icn {
				width: 18px;height:18px;
				fill:white;
				vertical-align:-4px;
			}

			&:hover  {
				background: rgba(0,0,0,.4);
			}
			
			&:active  {
				background: rgba(0,0,0,.6);
			}
		}

		&:hover {
			> a {
				transform: scale(0.6);
				opacity: 1;
			}
		}
	}


	.stag {
		margin: 0 -6px;
		
		a {
			margin-right: 4px;
			padding: 6px 4px;
			border-radius: 2px;

			* {
				pointer-events: none;
			}
			
			.icn {
				vertical-align: -5px;
				fill: rgba(0,0,0,.6);
			}
			
			&.active {
				background: color-blue;
				.icn {
					fill: white;
				}
			}
		}
	}

	.subinfo {
		opacity: .6;
		font-size: 12px;
	}

	.list {
		.item {
			display: flex;
			align-items: center;
			padding: 12px;
			position: relative;

			.icon {
				width:32px;
				text-align: center;
				img {
					width:32px;height:32px;
					border-radius: 16px;
				}
			}
			
			.title {
				margin: 0 12px;

				p, input {
					margin:0;padding:0;
					font-size: 13px;
					color: rgba(0,0,0,.6);
				}
			}

			.icon-link {
				width: 32px;height:32px;
				border-radius: 16px;
				background: colorGreen;
				text-align: center;
				line-height: 27px;
				
				color: white;
				

			}

			.title {
				flex:1;
			}

			.actions {
				.but {
					margin:0;
				}
			}

			&:not(.first):before {
				border-top: 1px solid rgba(0,0,0,.1);
				content: " ";
				position: absolute;
				left:56px;top:0;right:0;width:100%;height:1px;
			}
		}
		
		.separator {
			border-top: 1px solid rgba(0,0,0,.1);
			border-bottom: 1px solid rgba(0,0,0,.1);
			font-size: 11px;
			font-weight: bold;
			color: rgba(0,0,0,.6);
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 8px 12px;
			//padding-bottom: 2px;
			background: rgba(0,0,0,.05);
		}
	}
	
	.block-link {
		display:block;
	}

	.nice-action {
		margin-top: 10px;

		a {
			margin-left:-1px;
			margin-right:-1px;
			background: #FFF9E8;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.1);
			padding: 10px;
			display:block;
			text-align: center;
			color: rgba(0,0,0,.6);
			text-decoration: none;

			.icn {
				fill: rgba(0,0,0,.6);
				vertical-align: -6px;
				margin-right: 6px;
			}

			&:hover {
				background: darken(#FFF9E8, 3%);
			}
		}
	}
}




.cover-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;

  .action-item, .item {
    border-radius: 3px;
    overflow: hidden;
    width: calc(25% - 8px);
    height: 64px;
    position: relative;
    margin: 4px;

    a {
      left:0;top:0;
      position: absolute;
      width:100%;height:100%;
    }
  }

  .item {
    //background-color: rgba(0,0,0,.06);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    a {
      text-align: right;
      transition: box-shadow .1s ease-in-out;
      box-shadow: inset 0px 0px 0px 4px transparent;

      .svgIcon {
        background: colorTheme;
        background: var(--accentColor, colorTheme);
        pointer-events: none;
        color: white;
        box-sizing: content-box;
        transform: scale(0) rotate(45deg);
        border: 1px solid transparent;
        transition: transform .2s ease-in-out;
        width: 20px;height: 20px;
      }
    }

    &.blank {
      box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,.2);
      background: white;
    }

    &.active {
      a {
        box-shadow: inset 0px 0px 0px 2px colorTheme;
        box-shadow: inset 0 0 0 2px var(--accentColor, colorTheme);
        //background: rgba(109, 111, 222, .8);

        .svgIcon {
          transform: scale(1);
        }
      }
    }

	.cover-none {
		align-items: center;
    	opacity: 0.5;
    	display: flex;
    	height: 100%;
    	justify-content: center;
		height: 100%;
		font-size: 38px;
		font-weight: lighter;
	}
  }

  .action-item {
    /*background: color-blue;
    &.action-item-gray {
      background: color-asphalt-dark;
    }*/
    background: white;

    a {
      border: 1px dotted rgba(0,0,0,0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      padding:0 10px;
      color: rgba(0,0,0,.6);

      .svgIcon {
        margin-bottom: 3px;
        color: rgba(0,0,0,.5);
      }
    }
  }
}