@require "../consts.styl"

popMaxWidth = 400px;
popBackground = white;
popBackgroundLight = white;
popShadow = 0px 0px 0px 1px rgba(0,0,0,0.14), 0px 20px 90px 0px rgba(0,0,0,0.4);
popShadowRetina = 0px 0px 0px 0.5px rgba(0,0,0,0.3), 0px 20px 90px 0px rgba(0,0,0,0.4);

.pop-mode {
	overflow: hidden;
}

@keyframes popAppear {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes popDisappear {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

#pop-body-black {
	position: fixed;
	top:0;left:0;right:0;bottom:0;
	z-index: 998;
	background: rgba(0,0,0,.2);
	animation: popAppear .3s ease-in-out;
}

@keyframes popDir {
	0% {
		transform: scale(0.95);
		opacity:0;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	}
	100% {
		transform: scale(1);
		opacity:1;
		box-shadow: popShadow;
	}
}
@keyframes popDirReverse {
	100% {
		transform: scale(0.98);
		opacity:0;
	}
	0% {
		transform: scale(1);
		opacity:1;
	}
}

#app-pop {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

#pop-body {
	//@extend .disable-select;
	//top:0;left:0;
	z-index: 999;
	background: popBackground;
	box-shadow: popShadow;
	border-radius: 2px;
	
	position: fixed;
	min-width: 260px;
	max-width: popMaxWidth;
	min-height: 90px;

	//transition: left .2s ease-in-out, top .2s ease-in-out, bottom .2s ease-in-out, right .2s ease-in-out;
	//transition-delay: .2s;
	animation: popDir .2s ease-in-out;

	//&[data-dir=""], &[data-dir="center"], &[data-is-mouse="true"] {
		
		#pop-arrow  {
			display: none;
		}
	//}
	
	&[data-is-mouse="true"] {
		animation: none;
		transition: none;
	}

	&[data-dir=""] {
		display: none;
	}
	
	&[data-dir="right"] {
		//transition: top .15s ease-in-out, left .15s ease-in-out;
		transform-origin: 0% 50%;
		//margin-right:10px;
		#pop-arrow {
			left: 0;
		}
	}
	&[data-dir="left"] {
		transform-origin: 100% 50%;
		//margin-left:10px;

		#pop-arrow {
			right: 0;
			transform: scaleX(-1);
		}
	}
	&[data-dir="top"] {
		//transition: bottom .15s ease-in-out, left .15s ease-in-out;
		transform-origin: 50% 100%;
		//margin-top:10px;

		#pop-arrow {
			bottom: 0;
			transform: rotate(-90deg);
		}
	}
	&[data-dir="bottom"] {
		//transition: top .15s ease-in-out, left .15s ease-in-out;
		transform-origin: 50% 0%;
		//margin-top:-10px;
		#pop-arrow {
			transform: rotate(90deg);
		}
	}


	.overflow-scroll {
		max-height: 450px;
	}
	
	&[data-is-closing="true"] {
		pointer-events: none;
		animation: popDirReverse .2s ease-in-out;
		opacity: 0;
		transition: none !important;
	}
}

html.retina.chrome #pop-body {
	box-shadow: popShadowRetina;
}

/*Only safari*/
html.safari {
	&.retina #pop-body {
		border: 0.5px solid rgba(0,0,0,.3);
		box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.4);
	}
}

/*.selectize-overflow-visible #pop-body {
	footer {
		visibility: hidden;
	}
	.overflow-scroll {
		overflow: visible;
	}
}*/


#pop-arrow {
	//z-index: 99999999999;
	position: absolute;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0zOCAyMDNsLTEwLTEwIDEwLTEwIi8+PC9kZWZzPjx1c2Ugc3Ryb2tlLW9wYWNpdHk9Ii4yIiBzdHJva2U9IiMwMDAiIGZpbGw9IiNGRUZFRkUiIHhsaW5rOmhyZWY9IiNhIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjcgLTE4MykiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;height: 20px;
	margin:-15px;
	pointer-events:none;
	//transition: left .2s ease-in-out, top .2s ease-in-out, bottom .2s ease-in-out, right .2s ease-in-out;
	//transition-delay: .2s;
}

.pop-mode-will-close {
	#pop-body-black {
		animation: popDisappear .2s ease-in-out;
		opacity:0;
	}

	#pop-body{
		animation: popDirReverse .2s ease-in-out;
		opacity:0;

		.sticky-header {
			display:none;
		}
	}
}


.pop-block-shadow {
	box-shadow: 0px 1px 0px rgba(0,0,0,.07);
	margin-bottom: -1px;
}


popPadding = 16px;
.popLayoutWrap {
	position: relative;
	
	.popLayoutOverlay {
		position: absolute;
		left:0;right:0;bottom:0;top:0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.loading {
		cursor: progress;
		
		.popLayout {
			visibility: hidden;
		}
		
		.popLayoutOverlay, .popLayoutOverlay * {
			pointer-events: none;
		}
	}
}

.popLayout {
	position: relative;
	
	> header, > footer {
		display: flex;
		align-items: center;

		.title {
			flex: 1;
		}
	}
	
	> header {
		background: rgba(0,0,0,.01);
		box-shadow: 0px 1px 0px rgba(0,0,0,.1);
		padding: (popPadding - 2px) popPadding;

		.button {
			
			&:first-child {
				margin: ((popPadding - 2px) * -1) (popPadding * -1);
				margin-right: 0;
			}
			
			&:last-child {
				margin: ((popPadding - 2px) * -1) (popPadding * -1);
				margin-left: 0;
			}
		}

		.title {
			.primaryInput {
				margin-bottom: -2px;
			}
		}
	}

	> article {
		padding: popPadding;
	}

	> footer {
		margin-top: -14px;
	}

	.popOverflow {
		overflow: hidden;
		overflow-y: auto;
		overflow-y: overlay;
		-webkit-overflow-scrolling: touch;
		max-height: 70vh;
	}

	.button:active {
		background: transparent !important;
	}
}

html.mobile #pop-body {
	bottom:0 !important;
	left:0 !important;
	right:0 !important;
	top: auto !important;
	width: 100% !important;
	max-width: 100% !important;
	max-height: 80% !important;
	
	.picker-list, .cover-selector, .centered-content, .list, .pop-sticky-header header {
		width: 100%;
	}
}

.popOverlayLoading {
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	background: rgba(255,255,255,.85);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeAppear .3s ease-in-out;
}


@require "old.styl"




.themeDark {
	#pop-arrow {
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAxMiAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5hPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLW9wYWNpdHk9IjAuMiI+ICAgICAgICA8cG9seWxpbmUgaWQ9ImEiIHN0cm9rZT0iI0ZGRkZGRiIgZmlsbD0iIzNBM0EzQSIgcG9pbnRzPSIxMSAyMCAxIDEwIDExIDAiPjwvcG9seWxpbmU+ICAgIDwvZz48L3N2Zz4=");
	}
	
	#pop-body {
		background: lighten(darkBackground,5%);
		box-shadow: 0 0 0 1px rgba(255,255,255,.15) !important;
		color: rgba(255,255,255,.8);
	}
	
	.pop-content header {
		background: darkBackground;
	}
	
	.popOverlayLoading {
		background: rgba(darkBackground,.85);
	}
}