@require "../consts.styl";
sidebarWidth = (270px);
panelWidth = (300px);
mainCollapsedWidth = (400px);


#markup {
    width: 100%;
    height: 100%;
    position: relative;
    --sidebarWidth: sidebarWidth;
    --panelWidth: panelWidth;
    --mainCollapsedWidth: mainCollapsedWidth;
}

#sidebar, #main, #reader, #panel {
    position: absolute;
    //height: 100%;
    top:0;bottom:0;
    transition: 
        left layoutTransitionSpeed ease-in-out,
        right layoutTransitionSpeed ease-in-out,
        max-width layoutTransitionSpeed ease-in-out,
        width layoutTransitionSpeed ease-in-out,
        box-shadow layoutTransitionSpeed ease-in-out;
}

@require "sidebar.styl";

#sidebar, #main, #reader, #panel {
    header, footer {
        overflow: hidden;

        &:empty {
            display: none
        }
    }
}

html.electron {
    #sidebar, #main, #reader, #panel {
        header, footer {
            -webkit-app-region: drag;

            * {
                -webkit-app-region: drag;
            }
        }
    }
}

/*html.clipper, */.disable-layout-transition {
    #sidebar, #main, #reader, #panel, #sidebar-black-overlay, #clipperToolbar {
        transition: none !important;
    }
}

.disable-layout-transition {
    #sidebar, #main, #reader, #panel, #clipperToolbar {
        * {
            transition: none !important;
        }
    }
}

#main, #reader {
    max-width: 100%;
    left: sidebarWidth;
    left: var(--sidebarWidth, sidebarWidth);
    right: 0;
}

#main {
    display: flex;
    flex-direction: column;
}

#reader {
    overflow: overlay
}

.themeDark {
    #main header {
        box-shadow: 0px 1px 0px rgba(255,255,255,.05);
    }
}

#mainBody, .readerContent, #sidebarContent, #panelContent {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
    z-index:1;
    min-height: 40%;
    scrollbar-width: thin;
}

.readerContent {
    overflow-x: auto;
    overflow-x: overlay;
}


.centerContentWrap {
    position: absolute;
    left:0px;top:0;right:0;bottom:0;
    display: flex;
    flex-direction: column;
    
    .centerContent {
        flex: 1;
        display: flex;
        //flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        -webkit-overflow-scrolling: touch;

        .centerContentBlock {
            padding: 20px;
        }
    }

    > .preloader {
        position:absolute;left:50%;top:50%;
        margin-left: -25px;margin-top:-25px;
        z-index:0;
    }
}

@require "main.styl";
@require "reader.styl";
@require "themes.styl";
@require "platform/mac.styl";
@require "responsive.styl";