@require "../consts.styl";

#main {
	transition: left layoutTransitionSpeed ease-in-out;
    
    header {
    	background: inherit;
    	
    	.field {
    		padding-bottom: 4px;
    	}

    	.collectionIcon {
    		width: 24px;height:24px;
    	}
    }
}

.promoScreen {
	background: transparent;
	//flex: 0;
	pointer-events: none;
	text-align: center;
	position: relative;
	z-index: 0;
	
	> img {
		max-width: 90%;
		height: auto;
	}
}