@require "animations.styl"

#reader {
    background: white;
    box-shadow: inset 1px 0px 0px separatorColor;
    z-index: 6;
    left: 101%;
    //opacity: 0;
    width: 100vw;
    //min-width: 30%;

    > header {
        background: white;
        box-shadow:  /*0px 1px 0px separatorColor,*/ inset 1px 0px 0px separatorColor;
        position: relative;
        left:0;top:0;right:0;
        z-index: 2;
        
        .tabs .item.active:after {
            display: none;
        }
        
        .button:not(:first-of-type):not(:last-of-type) {
            padding-left:10px;
            padding-right:10px;
        }
        
        .button:first-of-type {
            padding-right: 10px;
        }
        
        .button:last-of-type {
            padding-left: 10px;
        }
    }

    &[data-tab="preview"] {
        > header, > footer {
            position: absolute;
            transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        }
        
        .readerContent {
            padding-bottom: 34px;
        }
    }
}

html.retina.chrome {
    #reader {
        box-shadow: inset 0.5px 0px 0px rgba(0,0,0,.15);
        
        > header {
            box-shadow: inset 0.5px 0px 0px rgba(0,0,0,.15);
        }
    }
}

.superFrame {
    flex: 1
    position: relative

    &:after {
        position:absolute;left:0;top:0;bottom:0;
        width:1px;
        pointer-events:none;
        z-index:2;
        content:" ";
    }

    iframe, webview {
        width: 100%
        height: 100%
        display: block;
        flex:1;
        border:0;
        box-shadow:none;
        overflow-y: auto;
        position:relative;
        z-index:1;
        background: white;
        
        &::-webkit-scrollbar {
            width: scrollBarWidth !important;
        }

        &.loading {
            background:transparent;
        }
    }

    webview {
        display: flex;
    }

    .superFrame-overlay {
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        pointer-events: none
    }
}

#reader .superFrame:after {
    box-shadow:inset 1px 0px 0px separatorColor;
}

html.retina.chrome {
    #reader .superFrame {
        &:after {
            box-shadow:inset 0.5px 0px 0px darken(separatorColor,5%);
        }
    }
}

#reader-black-overlay {
    z-index: 10;
    background: radial-gradient(rgba(0,0,0,0.03), rgba(0,0,0,0.17));
    opacity: 0;
    transition: opacity layoutTransitionSpeed ease-in-out;
    position: absolute;left:0;right: 0;bottom: 0;top: 0;
    pointer-events: none;
}
#reader {
    width: "calc(100vw - %s)" % (sidebarWidth + mainCollapsedWidth);
    width: calc(100vw - calc(var(--sidebarWidth, sidebarWidth) + var(--mainCollapsedWidth,mainCollapsedWidth)));
}

#reader .reader-edit-bookmark {
    padding: 24px
}


.mode-reader #reader {
    left: (sidebarWidth + mainCollapsedWidth);
    left: calc(var(--sidebarWidth, sidebarWidth) + var(--mainCollapsedWidth,mainCollapsedWidth));
}

.mode-force-sidebar #sidebar {
    transform: translateX(0) !important;
}

.mode-reader.mode-reader-fullscreen #reader {
    left: 0 !important;
    width: 100vw !important;
    box-shadow: none;

    .preview.preview-type-image {
        left:0;
    }
}

.mode-reader-modal, .mode-reader-fullscreen {
    #reader {
        z-index: 11;
    }
    #reader header {
        box-shadow: none;
    }
    
    #reader .superFrame:after {
        box-shadow:none;
    }
}

.mode-reader-modal {
    #reader {
        transform: translateY(120vh);
        transition: transform layoutTransitionSpeed ease-in-out;
    }
}

.mode-reader.mode-reader-modal {
    #reader {
        transform: translateY(0) !important;
    }
}

.mode-reader.mode-reader-modal:not(.mode-reader-fullscreen) {
    #reader {
        width: 70vw !important;
        left: 15vw !important;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1), 0px 10px 25px rgba(0,0,0,.1);
    }
    #reader-black-overlay {
        opacity: 1;
        pointer-events: auto;
    }
}