@require "../consts.styl";

#sidebar {
    left:0;
    width: sidebarWidth;
    width: var(--sidebarWidth, sidebarWidth);
    //max-width: 80%;
    background: sidebarBackground;
    --container-background: sidebarBackground;

    box-shadow: inset -1px 0px 0px separatorColor;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: transform layoutTransitionSpeed ease-in-out, width layoutTransitionSpeed ease-in-out;

    > header {
        .headerWrap {
            height: headerHeight
            display: flex;
            align-items: center;
            padding-left: 21px;
            padding-right: 5px;
        }
        
        .sidebarHeaderTitle {
            flex:1;
            padding-bottom: 3px;
            color: inherit;
        }
    }

    > footer {
        padding: 12px 0px;
        
        .selectButton {
            margin: 2px 14px;
            font-size: 14px
            
            .fieldIcon {
                opacity: .6;
            }

            .fieldIcon:first-child {
                margin-left: 6px;
                margin-right: 8px;
            }
        }
    }
}

html.blur .theme-sidebar-default #sidebar, .sidebar-block-bg {
    background: #F6F6F6;
}

#panel {
    transform: translateX((panelWidth*-1));
    transform: translateX(calc(var(--panelWidth,panelWidth) * -1));
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    background: white;
    width: panelWidth;
    width: var(--panelWidth,panelWidth);
    z-index: 9;
    transition: transform layoutTransitionSpeed ease-in-out, width layoutTransitionSpeed ease-in-out, box-shadow layoutTransitionSpeed ease-in-out;
}

#panelContent {
    display: flex;
    flex-direction: column;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform layoutTransitionSpeed ease-in-out, opacity layoutTransitionSpeed ease-in-out;
    transition-delay: (layoutTransitionSpeed / 2);
    overflow: initial !important;
    
    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        .superHeight {
            flex: 1;
        }
    }
}

.mode-panel {
    #panel {
        transform: translateX(sidebarWidth) !important;
        transform: translateX(var(--sidebarWidth, sidebarWidth)) !important;
    }
    #panelContent {
        transform: translateX(0);
        opacity:1;
    }
    
    &.mode-reader:not(.mode-force-sidebar) #panel {
        transform: translateX(0) !important;
    }
}



#sidebar-black-overlay {
    z-index: 8;
    background: rgba(0,0,0,.13)/*radial-gradient(rgba(0,0,0,0.03), rgba(0,0,0,0.17))*/;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    position: absolute;left:0;right: 0;bottom: 0;top: 0;
    pointer-events: none;
}

.themeDark #sidebar-black-overlay {
    background: rgba(0,0,0,.3)
}