.wrap {
    justify-self: end
    align-self: start
}

.cover {
    display: block
    position: relative
    overflow: hidden
    overflow: clip
    color: white
    margin-top: 2px

    &:before {
        position: absolute
        left:0; top: 0; bottom: 0; right: 0;
        content: ''
        box-shadow: inset 0 0 0 var(--shadow-height) var(--shadow-color)
        border-radius: var(--border-radius)
        z-index: 1
    }
}

.more {
    position: absolute
    bottom: 0
    right: 0
    background: var(--accent-color, colorTheme)
    border-top-left-radius: var(--border-radius)
    border-bottom-right-radius: var(--border-radius)
    width: var(--icon-size)
    height: var(--icon-size)
}