.edit {
	width: 100%
	max-width: 13rem //520px
	margin: 0 auto
	padding: var(--padding-small) 0
	display: flex
}

.form {
	flex: 1
	position: relative

	&[data-status='loading'],
	&[data-status='idle'] {
		.loading {
			opacity: .6
			transition-duration: 0
		}
	}
}

.invisible {
	visibility: hidden
}

.loading {
	pointer-events: none
	position: absolute
	left: 0
	bottom: 0
	right: 0
	top: 0
	background: var(--background-color)
	z-index: 2
	display: flex
	align-items: center
	justify-content: center
	opacity: 0
	transition: opacity .15s ease-in-out
}