.header {
	margin: 0 var(--padding-medium)

	h2, p {
		margin: var(--padding-small) 0
	}

	h2 {
		font-weight: 600

		a:hover {
			text-decoration: underline
		}
	}

	p {
		font-size: var(--title-font-size)
	}
}