.buttons {
    display: grid
    grid-auto-flow: column
    grid-gap: var(--padding-small)
}

.facebook {
    color: #3b5998 !important
}

.twitter {
    color: #55acee !important
}

.vkontakte {
    color: #45668e !important
}

.google {
    color: #FE2C25 !important
}