.wrap {
    margin-top: 16px
}

.facebook {
    color: #3b5998 !important
}

.twitter {
    color: #55acee !important
}

.vkontakte {
    color: #45668e !important
}

.google {
    color: #179c52 !important
}