.clients {
    margin: 1px 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    max-width: 540px;
    overflow: hidden;
    border-radius: 3px;
}

.notFound {
    padding: 14px;
}