.autoClick {
    position: relative
    transition: opacity .15s ease-in-out
}

.svg {
    position: absolute
    left: -3px; top: -3px; right: -3px; bottom: -3px;
    width: calc(100% + 6px); height: calc(100% + 6px);
    pointer-events: none
}

.circle {
    //circle itself
    fill: none
    stroke-linecap: round
    stroke-linejoin: round
    cx: 50%
    cy: 50%
    transform: rotate(-90deg)
    transform-origin: center

    //stroke
    stroke: var(--accent-color)
    stroke-width: 2px
    r: calc(50% - 2px)

    //initial
    stroke-dasharray: 90 90;
    transition: stroke-dasharray 0s linear
}

.autoClick[data-status=''] {
    .circle {
        stroke-width: 0
        stroke-dasharray: 0 90
    }
}