coverMargin = 7px;

.bookmarkEditWrap {
	margin: 0 auto;
	max-width: 400px;
}

.bookmarkEdit {
	margin: 20px 0;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
	border-radius: 2px;
	overflow: hidden;
	//padding-left: 4px;
	//animation: bookmarkEditAppear .2s ease-in-out;
		
	&.inline {
		margin:0;
		display: inline-block;
	}
	
	.superForm {
		padding-left: 4px;
	}

	.fieldWrap {
		margin-top:0;
	}
	
	#bookmarkTitle {
		//padding-bottom: rem(3px);
	}
	
	#bookmarkExcerpt {
		//color: colorAsphaltDark;
		padding-top: 6px;
		padding-bottom: rem(19px);
	}
	
	.cover-list {
		display:block;
		margin: coverMargin 0px;
		margin-left: 10px;
		margin-right: 8px;
		
		figure {
			padding: coverMargin;
			width: 33.3333%;
			float:left;

			img {
				display: block;
				width:100%;
				height:auto;
				min-height: 50px;
				max-height: 100px;
				object-fit: scale-down;
				object-position: center;
				border-radius:2px;
				overflow: hidden;
				filter: grayscale(70%);
				opacity:.6;
				transition: opacity .1s ease-in-out, filter .1s ease-in-out;
			}
			
			&:before {
				border-radius:2px;
				position: absolute;
				left: coverMargin;right:coverMargin;bottom:coverMargin;top:coverMargin;
				content:"";
				box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.1);
				transition: box-shadow .15s ease-in-out;
				z-index:1;
			}
			
			&.active {
				&:before {
					box-shadow: inset 0px 0px 0px 3px colorTheme;
					box-shadow: inset 0px 0px 0px 3px var(--accentColor, colorTheme);
				}
			}
			
			&:hover, &.active {
				img {
					filter: none;
					opacity:1;
				}
			}
			
			&:active {
				img {
					filter: brightness(1.5);
				}
			}
		}
		
		.makeScreenshot {
			text-align: center;
			font-size: 12px;
			
			figcaption {
				margin-top: -8px;
				opacity: .6;
				padding: 0 6px;
				padding-bottom: 10px;
			}
			
			.svgIcon {
				opacity: .4;
			}
		}
	}

	.editTags {
		margin: 6px 0px;
		//margin-top: 2px;
	}
	
	.cover-list {
		margin-top: 2px;
	}
	
	.bookmarkEditLeftIcon {
		img {
			width: 16px;height: 16px;
			border-radius: 2px;
			object-fit: scale-down;
		}
		
		svg {
			opacity: .4;
		}
		
		position: absolute;
		margin-left: -16px;
		margin-top: 7px;
	}
}

.bookmarkEditCover {
	position: relative;
	border-left-top-radius: 2px;
	border-right-top-radius: 2px;
	background: white;
	min-width: 150px;
	min-height: 50px;
	max-height: 250px;
	overflow: hidden;
	display: flex;
	align-items:center;
	justify-content: center;
	
	/*&:before {
		position: absolute;
		top:0;left:0;right:0;
		border-top:1px solid rgba(0,0,0,.07);
		content: "";
	}*/
	
	.actions {
		position: absolute;left:0;top:12px;
		opacity: 0;
		
		.button {
			margin-left: 16px;
		}
	}
	
	&:hover .actions {
		opacity: 1;
	}

	.cover {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		
		object-fit: cover;
		object-position: center;
		display: block;
		
		&.cover-scale-down {
			object-fit: initial;
		}
	}
}

#reader {
	&[data-tab="edit"] .readerContent {
		padding:0 20px;
	}

	.bookmarkEditWrap {
		margin-top: 2px;
		margin-bottom: 20px;
		box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1);
		border-radius: 2px;
	}
	
	.bookmarkEditCoverWrap {
		display: block;
		
		
		.bookmarkEditCover {
			background: rgba(0,0,0,.03);
			padding-top: 1px;
			max-width: 100%;
		}
	}
	
	.bookmarkEdit {
		margin: 0;
		box-shadow: 0 1px 0 rgba(0,0,0,.07);
		border-radius: 0;
	}
	
	.bookmarkEditAdvice {
		background: rgba(0,0,0,.02);
	}
}


tagPaddingVertical = 6px;

.editTags {
	display: flex;
	flex-wrap: wrap;
	padding-left: 16px;
	
	.tagIcon {
		opacity: .5;
		margin-right: 14px;
		margin-top: 4px;
	}
	
	.tag {
		@extend .disable-select;
		cursor: default;
		font-size: rem(15px);
		height: rem(21px);
		display: flex;
		align-items: center;
		margin-top: 4px;
		margin-right: tagPaddingVertical;
		padding: 0 tagPaddingVertical;
		padding-bottom: 4px;
		border-radius: 2px;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.08);
		color: rgba(0,0,0,.8);
		background: colorTheme;
		background: var(--accentColor, colorTheme);
		background-image: linear-gradient(to right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.9) 100%)
		//transition: background-image .15s ease-in-out, color .15s ease-in-out;
		
		.svgIcon {
			margin-left: 6px;
			margin-bottom: -2px;
			opacity: .3;
		}
		
		&:hover {
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.12);
			.svgIcon {
				opacity: .5;
			}
		}
	}
	
	&.remove-last .tag.last, .tag:active {
		background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 100%);
		color: white;
	}
	
	input.field {
		background: rgba(0,0,0,.05);
		flex: 1;
		min-width: 120px;
		padding-left: tagPaddingVertical !important;
	
	}
	
	.tagIcon + input.field {
		padding-left:0 !important;
	}
}

.mode-disable-cover .coverEditBlock {
	display:none;
}

@keyframes bookmarkEditAppear {
	0% {
		transform: translateX(20px);
    	opacity: 0;
	}
	100% {
		transform: translateX(0);
    	opacity: 1;
	}
}

.themeDark {
	#reader .bookmarkEdit {
		box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 1px 1px rgba(255,255,255,.1);
	}
	
	.editTags .tag {
		background: colorYellowForDark;
		box-shadow: none;
	}
}