.elements-empty {
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    padding: 20px

    &:empty {
        //otherwise virtualized list glitches:
        padding: 0
        min-height: 1px
    }
}