@require "../consts.styl"

.elements-header {
    .header {
        background: white
        display: flex
        align-items: center
        padding-left: (baseHorizontalGap / 2)

        .c-icon {
            margin-left: (baseHorizontalGap / 2)
        }

        .title {
            padding-left: (baseHorizontalGap / 2)
            font-weight: 500

            a {
                color: currentColor
                &:hover {
                    text-decoration: underline
                }
            }
        }

        .space {
            flex: 1
        }
    }

    &:after {
        display: block
        content:''
        width: 100%
        height: (baseHorizontalGap / 2)
        box-shadow: inset 0px 1px 0px subSeparatorColorAlpha
    }
}