@require "../consts.styl"

.elements-header {
    position: sticky
    top: 0
    z-index: 99

    .header {
        background: white
        display: flex
        align-items: center
        padding-left: (baseHorizontalGap / 2)
        min-height: 48px

        .c-icon {
            margin-left: (baseHorizontalGap / 2)
        }

        .title {
            padding-left: (baseHorizontalGap / 2)
            font-weight: 500
            font-size: rem(16px)
            @extend .text-overflow;

            a {
                color: currentColor
                &:hover {
                    text-decoration: underline
                }
            }
        }

        .space {
            flex: 1
        }
    }

    &:after {
        display: block
        content:''
        width: 100%
        height: (baseHorizontalGap / 2)
        box-shadow: inset 0px 1px 0px subSeparatorColorAlpha
    }
}

.selected-all-badge {
    background: var(--accentColor)
    color: white
    padding: 2px 3px
    margin-left: -2px
    border-radius: 3px
}