@require "../consts.styl";

elementInvert()
    color: white;
            
    &:after {
        display: none;
    }
    
    .actions .button.active {
        color: white !important;
    }

    .domain, p, a, .info {
        color: rgba(255,255,255,.6) !important;
    }
    
    .actions {
        .button {
            &.active b {
                box-shadow: inset 0px 0px 0px 1px white;
                background: inherit;
            }
        }
    }

    p.from-body {
        border-color: white
    }

.elements {
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

    .items {
        flex: 1
    }

    &.hide-title {
        .element .title {
            display: none
        }
    }

    &.hide-excerpt {
        .element .description {
            display: none
        }
    }

    &.hide-cover {
        .element .cover-wrap {
            display: none
        }
    }

    &.hide-tags {
        .element .tags {
            display: none
        }
    }

    &.hide-info {
        .element .info-wrap {
            display: none
        }
    }
}

.element {
    position: relative
    
    .title {
        font-weight: 500
        font-size: 14px
        //margin-top: -3px;
        max-height: 42px
        overflow: hidden;
        line-height: 19px
    }
    p {
        font-size: 14px
        /*color: gray;*/
        margin: 3px 0;
        max-height: 38px
        overflow: hidden;
        line-height: 19px
        color: #545454;

        &.from-body {
            border-left: 2px solid var(--accentColor, colorTheme);
            padding: 2px 8px;
            margin: 2px 0;
            margin-bottom: 8px;
            opacity: .8;
            white-space: normal;
            max-height: 100px;

            &:after {
                content: '…'
            }
        }
    }
    
    &.broken {
        .title, p {
            opacity:.7
        }
        
        .title {
            text-decoration:line-through
        }
    }
    
    .selectElement {
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity .1s ease-in-out;
        left:0;top:0;
        background: inherit
        width: 24px
        height: 24px
        display: flex
        align-items: center
        justify-content: center
        border-bottom-right-radius: 3px
        box-shadow: 1px 1px 1px subSeparatorColorAlpha
    }

    .tags {
        z-index: 1
        position: relative

        a {
            color: var(--accentColor, colorTheme)
            margin-right: 6px;

            &:hover {
                text-decoration: underline
            }
        }
        
        &:empty {
            display:none;
        }
    }

    .info-wrap {
        
    }

    .info {
        color: lighten(black,55%);
        font-size: 13px
        display: flex;
        align-items: center;
        white-space: nowrap;
        line-height: normal;
        
        > div {
            @extend .text-overflow;
            margin-left: 6px;
            
            &:first-child {
                margin:0;
            }
        }

        .info-important {
            font-weight: 500
        }
        
        .info-img {
            display: inline-block;
            vertical-align: -1px;
            margin-right: 6px;
            margin-bottom: -2px;
            
            img {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                display: block;
                /*filter: grayscale(100%);
                opacity: .6;*/
            }
        }

        &.info-creator {
            .info-img {
                height: 19px;
                width: 16px;
                margin-left: -3px;
            }
        }

        &.info-path .info-img {
            vertical-align: middle;
            margin-bottom: 0;
        }

        .info-domain {
            margin-left: 0
        }
    }

    a.info-path {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &:hover .info-path-title {
            text-decoration: underline
        }
    }

    .permalink {
        outline: none;
        position: absolute;
        left:0;right: 0;bottom:0;top:0;
    }
            
    .button {
        height: 36px;
        padding: 0 8px;
        
        &.action-red {
            color: colorRed;
        }
        
        b {
            padding-top: 3px;
            padding-bottom: 3px;
        }
        
        &:hover {
            background:transparent;
        }
    }
    
    &.active:not([data-is-focus="true"]), &.checked:not([data-is-focus="true"]) {
        background: #EAEAEA !important;
    }

    &.active, &.checked {
        background: #EAEAEA;
    }
    
    &.active {
        &[data-is-focus="true"] {
            //transition: background .1s ease-in-out;
            background: colorTheme !important;
            background: var(--accentColor, colorTheme) !important;
        }
    }
    
    &.active[data-is-focus="true"] {
        background: colorTheme !important;
        background: var(--accentColor, colorTheme) !important;
    }
    
    &.is-dragging {
        box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 3px 15px rgba(0,0,0,.1);
        background: white
        border-radius: 3px
    }
}

.cover-wrap {
    .cover {
        background: #EDEEEF
        display: block
        min-width: 16px
        border-radius: 2px
    }
}

.select-mode .element {
    .selectElement {
        opacity:1 !important;
    }
    .actions {
        display: none !important;
    }
}

.element {
    &:hover {
        .selectElement {
            opacity: 1;
        }
    }

    .actions {
        z-index: 1
        display: inline-grid
        grid-auto-flow: column
        gap: var(--padding-small)
        justify-content: start
        opacity: 0;
        transition: opacity .1s linear;
    }

    &:hover, &.active {
        .actions {
            opacity: 1;
            //transition-delay: 0.2s;
        }
    }
}

html:not(.blur) #main {
    .element {
        &.active {
            &[data-is-focus="true"] {
                elementInvert()
            }
        }
    }
}

.section {
    padding: 8px baseHorizontalGap;
    padding-top: 8px * 2
    font-weight: 500
    font-size: 15px
    box-shadow: inset 0px -1px 0px subSeparatorColorAlpha, inset 0px 1px 0px subSeparatorColorAlpha;
    min-height: 100px
    display: flex;
    background-color: rgba(0,0,0,.05)

    &:after {
        display: none
    }
}

.mode-reader .element .actions {
    display: none !important;
}

.loadMore {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}