@require "../consts.styl";

listCoverSizeWidthWidth = 56px
listCoverSizeWidthHeight = 48px

.view-list, .view-simple {
    .element {
        display: flex;
        align-items: center;
        padding: baseHorizontalGap;
        position: relative;

        .selectElement {
            top: 1px
            left: 0
        }
        
        .rating {
            box-shadow: none;
            padding: 0;
            margin: 0;
            padding-left: 20px;
            font-size: rem(13px);
            width: 70px;
            display: flex;
            align-items: center;
            
            .ratingValue {
                @extend .text-overflow;
                opacity: .6;
            }
        }

        &:after {
            content: " ";
            position: absolute;
            right: 0;
            bottom: 0;
            border-top: 0.5px solid rgba(0,0,0,.07);
            z-index:1;
            //height: 1px;
            left: 0;
        }

        .cover {
            width: rem(listCoverSizeWidthWidth);
            height: rem(listCoverSizeWidthHeight);
        }

        .cover-wrap {
            //display:none;
            flex-shrink: 0;
            position:relative;
            align-self: flex-start;

            /*&:before {
                content: "";
                position:absolute;
                left:0;top:0;right:0;bottom:0;
                border-radius:2px;
                box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.1);
            }*/
        }
        
        .cover {
            margin-right: 16px;
        }
        
        .cover {
            background: white;

            &.cover-placeholder {
                border-radius: 2px;
                overflow: hidden;
                box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.15), inset 0px -10px 20px rgba(255,255,255,.2);
                .min-size {
                    display:block;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }

        .about {
            min-width:0;
            flex: 3;
            
            .title, p {
                //max-width: 650px;
            }
        }

        .info-wrap {
            display: flex;

            .info-path {
                &:after {
                    margin:0 8px;
                    content: '·';
                }
            }
        }

        .info {
            @extend .text-overflow;
            //width: 200px;
            text-align: left;
            
            &.right {
                text-align: right;
                width: 76px;
                padding-left: 16px;
            }
        }
        
        .actions {
            margin: 0;
            position: absolute;
            right: 0px;
            top:1px;
            bottom:1px;
            background: inherit;
            padding: 12px baseHorizontalGap;
            
            .button {
                position: relative;
                z-index:1;
            }
        }
        
        &:last-child:after {
            border:0;
        }
    }
}

.view-simple {
    .about {
        .description {
            display: none;
        }
    }
}


.hide-cover {
    .view-list, .view-simple {
        .element {
            &:after {
                left: rem(16px);
            }
        }
    }
}

html:not(.electron) {
    .view-list, .view-simple {
        .element {
            &:hover, &.active {
                /*.info {
                    display: none;
                }*/
                    
                .actions:before {
                    position: absolute;
                    left:-24px;
                    top:20%;
                    bottom:20%;
                    width: 80px;
                    background: inherit;
                    content: "";
                    filter: blur(10px);
                    pointer-events: none;
                    z-index:0;
                }
            }
        }
    }
}

html.retina.chrome {
    .view-list, .view-simple {
        .element:after {
            border: 0;height: 1px;
            box-shadow: 0px 0.5px 0px darken(subSeparatorColorAlpha,5%);
        }
    }
    
    .themeDark {
        .view-list, .view-simple {
            .element:after {
                box-shadow: 0px 0.5px 0px rgba(255,255,255,.07);
            }
        }
    }
}



.themeDark {
    .view-list, .view-simple {
        .element {
            background: darkBackground;
        
            
            &:after {
                border-color: rgba(255,255,255,.07);
            }
        }
    }
}