.form {
    width: 400px
}

.isDropping:after {
    background: unquote('hsla(var(--accent-hsl), .1)')
    left:0;top:0;right:0;bottom:0;
    content: ""
    position: absolute
    z-index:1
    pointer-events: none
}