.section {
    padding: var(--padding-small) var(--padding-medium);
    padding-top: var(--padding-medium)
    font-weight: 500
    font-size: var(--title-font-size)
    box-shadow: inset 0px calc(var(--shadow-height) * -1) 0px var(--shadow-color), inset 0px var(--shadow-height) 0px var(--shadow-color)
    min-height: 100px
    display: flex
    background-color: var(--alternative-background-color)

    &:after {
        display: none
    }
}

.grid, .masonry {
    .section {
        align-items: center
        justify-content: center
    }
}