@media (prefers-color-scheme: dark) {
    html[data-theme='night']:global(.extension):global(.browser_action) {
        //opera mac has a glitch
        &:global(.safari) {
            .page {
                background: unquote('linear-gradient(to bottom, hsla(var(--background-hsl), 0) 0, hsla(var(--background-hsl), 1) 150px)')
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    html[data-theme='day']:global(.extension):global(.browser_action) {
        &:global(.safari) {
            .page {
                background: unquote('linear-gradient(to bottom, hsla(var(--background-hsl), 0) 0, hsla(var(--background-hsl), 1) 150px)')
            }
        }
    }
}