.modal {
    position: fixed
    z-index: 888
    left: 0
    top: 0
    bottom: 0
    right: 0
    display: flex
    align-items: center
    justify-content: center

    &:before {
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        background: rgba(0,0,0,.35)
        backface-visibility: hidden
        pointer-events: none
        animation: modal-appear .3s ease-in-out
    }

    &.important {
        z-index: 99999999
    }
}

.wrap {
    z-index: 1
    max-width: 90%  
    max-height: 90%
    border-radius: var(--border-radius)
    box-shadow: 
        0px 0px 0px var(--shadow-height) var(--shadow-color),
		0 4.5px 10.2px rgba(0, 0, 0, 0.057),
        0 11.3px 25.7px rgba(0, 0, 0, 0.074),
        0 23px 52.5px rgba(0, 0, 0, 0.087),
        0 47.5px 108px rgba(0, 0, 0, 0.106);
    display: flex
    flex-direction: column
    overflow: hidden
    animation: wrap-appear .3s ease-in-out
    backface-visibility: hidden

    &[data-stretch='true'] {
        width: max(50%, 500px)
        height: 90%
    }
}

.body {
    flex: 1
    background: var(--sidebar-background-color)
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    overflow: hidden
}

@keyframes modal-appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes wrap-appear {
    0% { transform: scale(0.9); opacity: 0 }
    60% { transform: scale(1.05);  }
    100% { transform: scale(1); opacity: 1 }
}

//extension specific
html:global(.extension)[data-modal-showing='true'] [data-is-page] {
	min-height: 600px
}