.modal {
    position: fixed
    z-index: 888
    left: 0
    top: 0
    bottom: 0
    right: 0
    background: rgba(0,0,0,.2)
    display: flex
    align-items: center
    justify-content: center

    &.important {
        z-index: 99999999
    }
}

.body {
    background: var(--background-color)
    max-width: 90%  
    max-height: 90%
    border-radius: var(--border-radius)
    box-shadow: 0px 0px 0px var(--shadow-height) var(--shadow-color), 0px 20px 90px 0px rgba(0,0,0,.1)
    overflow: hidden

    display: flex
    flex-direction: column

    &[data-stretch] {
        width: max(50%, 500px)
        height: 90%
    }
}

@supports (backdrop-filter: none) {
	.body {
		background: unquote('hsla(var(--background-hsl), .8)')
		backdrop-filter: blur(20px)
	}
}