.wrap {
    display: grid
    grid-auto-flow: column
    gap: var(--padding-small)
    align-items: center
    justify-content: start
    height: var(--button-height)
    font-size: var(--secondary-font-size)

    &[data-disabled='true'] {
        color: var(--disable-text-color)
    }
}