.filled {
    background: var(--background-color) !important
    box-shadow: 
        0 0 0 2px var(--background-color),
        0 0 0 calc(2px + var(--shadow-height)) var(--shadow-color),
        0 3px 10px rgba(0,0,0,.1)
}