.wrap {
    display: flex
    flex-direction: row
    align-items: center
    min-height: var(--button-height)

    &[data-disabled="true"] {
        pointer-events: none
    }
}

.text {
    min-width: 0
    flex: 1
    font-size: var(--primary-font-size)
    line-height: 1.3
    outline: none
    appearance: none
    border: 0
    padding: 0
    resize: none
    background: transparent
    padding: 0 var(--padding-small)

    &[disabled] {
        color: var(--disable-text-color)
    }
}

.icon {
    display: flex
    align-items: center
    color: var(--primary-text-color)
    margin-left: var(--padding-small)
}

.wrap[data-font='title'] {
    .text {
        font-size: var(--title-font-size)
        font-weight: 500
    }
}

.wrap[data-variant='default'] {
    background: var(--alternative-background-color)
    border-radius: var(--border-radius)

    &[data-multiline], &[data-auto-size] {
        padding: var(--padding-mini) 0
    }

    &[data-focus="true"] {
        background: var(--background-color)
        box-shadow: 0 0 0 1px var(--accent-color)
    }

    &[data-disabled="true"] {
        background: var(--disable-background-color)
    }
}

.wrap[data-variant='less'] {
    padding: var(--padding-mini) 0

    .text {
        padding: 0
    }

    &[data-focus="true"] {
        box-shadow: 0 1px 0 var(--accent-color)
    }
}