.title {
    font-size: var(--title-font-size)
    font-weight: 600
    color: var(--title-text-color)
    min-height: var(--button-height)
    display: flex
    align-items: center
    grid-column: 1 / -1
}