@keyframes dash{
	0%{
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
	}
	100%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124px;
	}
}

@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

.preloader {
	position: relative;
	margin: 0px auto;
	width: 40px;
	display: inline-block;
	border-radius: 50%;

	&:before {
		content:'';
		display: block;
		padding-top: 100%;
	}

	.circular {
		animation: rotate 1s linear infinite;
		height: 100%;
		transform-origin: center center;
		width: 100%;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
	}

	.path {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
		animation: dash 1.5s ease-in-out infinite;
			stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
		stroke-linecap: square;
		stroke-width: 2px;
		stroke-miterlimit: 10px;
		stroke: var(--accent-color);
		transition: stroke .2s ease-in-out;
	}

	&[data-size="icon"] {
		width: 20px
		
		.path {
			stroke-width: 3px;
		}
	}
	
	&[data-size="small"] {
		width: 24px;
		
		.path {
			stroke-width: 3px;
		}
	}
}