.wrap {
	z-index: 999;
	box-shadow:
		0 0 0 var(--shadow-height) rgba(0,0,0,.2),
		0 5.4px 3.4px rgba(0, 0, 0, 0.017),
		0 15px 9.4px rgba(0, 0, 0, 0.025),
		0 36.2px 22.6px rgba(0, 0, 0, 0.033),
		0 120px 75px rgba(0, 0, 0, 0.05);

	border-radius: var(--border-radius);
	position: fixed;
	overflow-y: auto
	overflow-y: overlay

	top: var(--top, 10)
	left: var(--left, 10)
	max-width: calc( 100vw - var(--left) - 10px )
	max-height: calc( 100vh - var(--top) - 10px )
}

.body {
	box-shadow: inset 0px 0px 0px var(--shadow-height) rgba(255,255,255,.2)
	background: var(--background-color)
	border-radius: var(--border-radius)
}

@supports (backdrop-filter: none) {
	.body {
		background: unquote('hsla(var(--background-hsl), .8)')
		backdrop-filter: blur(20px)
	}
}