.wrap {
	z-index: 999;
	box-shadow: 0px 0px 0px var(--shadow-height) var(--shadow-color), 0px 20px 50px 0px rgba(0,0,0,.1);
	border-radius: 2px;
	position: fixed;
	max-width: 90%
	max-height: 90%
	overflow-y: auto
	overflow-y: overlay
}

.body {
	background: var(--background-color)
}

@supports (backdrop-filter: none) {
	.body {
		background: unquote('hsla(var(--background-hsl), .8)')
		backdrop-filter: blur(20px)
	}
}