.suggested {
    display: flex
    flex-wrap: wrap
    overflow: hidden
    min-height: calc(var(--icon-size) + var(--padding-small))
    max-height: calc(var(--icon-size) + var(--padding-small))
    transition: opacity .5s ease-in-out, transform .2s ease-in-out, max-height .2s ease-in-out, min-height .2s ease-in-out

    &:hover:not(:empty) {
        transition-delay: .2s
        max-height: calc( (var(--icon-size) + var(--padding-small)) * 3 )
    }

    &:empty {
        opacity: 0
        transform: translateY(2px)

        &[data-is-new='false'] {
            min-height: 0
            max-height: 0
        }
    }

    > * {
        margin-top: var(--padding-small)
        margin-right: var(--padding-small)
    }
}

.path {
    max-width: 15ch
    overflow: hidden
    overflow: clip
    direction: rtl
    text-align: left
}

.suggestion {
    --shadow-color: var(--shadow-light-color)
    * {
        --icon-size: var(--padding-medium)
    }

    &[data-tint]:not([data-tint='']) {
        background: unquote('color-mix(in srgb, var(--tint) 12%, transparent)')
    }
}

@media screen and (min-width: 600px) {
    .path {
        max-width: 30ch
    }

    .suggested {
        max-height: 100% !important
    }
}