.footer {
    padding: var(--padding-medium)
    color: var(--secondary-text-color)
    text-align: center
}

.links {
    margin-left: var(--padding-medium)
    
    > * {
        margin: 0 var(--padding-medium)
    }

    a:hover {
        text-decoration: underline
    }
}