.settings {
    display: flex
    flex-direction: column
    background: var(--sidebar-background-color)
}

.wrap {
    flex: 1
    position: relative
}

.body {
    width: 16rem
    max-width: 100%
    margin: 0 auto
}