.tabs {
    display: flex
    flex-wrap: wrap
    width: 16rem
    margin: 0 auto !important

    > * {
        flex: 1
        margin: .05rem 0
    }

    > :not(:last-child) {
        margin-right: var(--padding-small)
    }
}