.frame {
    position: relative

    webview, iframe {
        display: block;
        width: 100%;
        height: 100%;
        appearance: none;
        border: 0;
        box-shadow: none;
        background: var(--background-color);
    }

    .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}