.frame {
    position: relative

    webview, iframe {
        display: block;
        width: 100%;
        height: 100%;
        appearance: none;
        border: 0;
        box-shadow: none;
        background: var(--background-color);
    }

    webview {
        display:inline-flex
    }

    .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity .3s ease-in-out;

        &.nonclickable {
            pointer-events: none;
        }

        &[hidden] {
            opacity: 0
            display: flex !important
        }
    }

    .screenshot {
        padding: var(--padding-large);

        img {
            border-radius: var(--border-radius);
            display: block;
            max-width: 100%;
            height: auto;
            aspect-ratio: 1280 / 900;
        }
    }
}