.icon {
    display: flex
    align-items: center
    justify-content: center
    position: relative
}

.item {
    &[data-token='❤️'] .icon,
    &[data-token='important'] .icon {
        color: var(--important-color)
    }
    &[data-token='#'] .icon {
        color: var(--tag-color)
    }

    &[data-token='type'] .icon {
        color: var(--document-color)
    }
    &[data-token='type'][data-id='link'] .icon {
        color: var(--link-color)
    }
    &[data-token='type'][data-id='article'] .icon {
        color: var(--article-color)
    }
    &[data-token='type'][data-id='audio'] .icon {
        color: var(--audio-color)
    }
    &[data-token='type'][data-id='document'] .icon {
        color: var(--document-color)
    }
    &[data-token='type'][data-id='image'] .icon {
        color: var(--image-color)
    }
    &[data-token='type'][data-id='video'] .icon {
        color: var(--video-color)
    }

    &[data-token='created'] .icon,
    &[data-token='before'] .icon,
    &[data-token='after'] .icon {
        color: var(--created-color)
    }
    &[data-token='broken'] .icon {
        color: var(--broken-color)
    }
    &[data-token='duplicate'] .icon {
        color: var(--duplicate-color)
    }
    &[data-token='notag'] .icon {
        color: var(--tag-color)
    }
    &[data-token='lang'] .icon {
        color: var(--lang-color)
    }
    &[data-token='title'] .icon {
        color: var(--tag-color)
    }
    &[data-token='excerpt'] .icon {
        color: var(--tag-color)
    }
    &[data-token='link'] .icon {
        color: var(--tag-color)
    }
}