.frame {
    margin-top: var(--padding-medium)
    color: var(--shadow-color)
}

.done {
    margin: var(--padding-medium)

    h2, p {
		margin: var(--padding-small) 0
	}

    h2 {
		font-weight: 600
	}

	p {
		font-size: var(--title-font-size)
	}
}