.wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.splitview {
    display: flex;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    will-change: transform
    transition: transform .3s ease-in-out
    --sidebar-width: var(--preferred-sidebar-width, 270px)
}

:global(.svSidebar) {
    width: var(--sidebar-width)
}

:global(.svReader) {
    flex-shrink: 0
    width: 300px 
    transform: translateX(300px)
    will-change: transform
    transition: transform .3s ease-in-out
}

.smr {
    :global(.svMain), :global(.svReader) {
        flex: 1
        transform: none
    }
}

.sm {
    width: calc(100vw + 300px)

    :global(.svMain) {
        flex: 1
    }
}

.mr {
    width: calc(100vw + var(--sidebar-width))
    transform: translateX( calc( var(--sidebar-width) * -1 ) )

    :global(.svMain), :global(.svReader) {
        flex: 1
        transform: none
    }
}

.m {
    width: calc(100vw + var(--sidebar-width) + 300px)
    transform: translateX( calc( var(--sidebar-width) * -1 ) )

    :global(.svMain) {
        width: 100vw
    }
}

.r {
    width: calc(100vw + 100vw)
    transform: translateX( calc( var(--sidebar-width) * -1 ) )

    :global(.svReader) {
        flex: 1
        transform: none
    }
}