.suggested {
    display: flex
    flex-wrap: wrap

    > * {
        margin-top: var(--padding-small)
        margin-right: var(--padding-small)
        max-width: 300px
        overflow: hidden
        overflow: clip
    }
}