editIconSize = 64px;
editIconSvgSize = 60px;

.editCollection {
	.iconWrap {
		text-align:center;
		margin: 30px;
		margin-top: 10px;
	}

	.icon {
		width: auto;
		height: editIconSize;
		
		svg {
			margin: ((editIconSize - editIconSvgSize)/2);
			width: editIconSvgSize;height: editIconSvgSize;
			opacity: .5;
		}
	}
}