@require "../consts.styl";

sidebarRightGap = 17px;
collectionPaddingVertical = 6px;
groupHeight = 24px;

collectionActive() {
	//transition: background .1s ease-in-out;
    background: colorTheme;
    background: var(--accentColor);
    color: white;
    
    .collectionIcon.svgIcon, .count, .expand, .actions span {
    	opacity:1;
    }
    
    img.collectionIcon {
    	//filter: url(#filter_border_white);
    	//filter: drop-shadow(1px 0px 1px rgba(0,0,0,.05)) drop-shadow(0px 1px 1px rgba(0,0,0,.05)) drop-shadow(-1px 0px 1px rgba(0,0,0,.05));
    }
    
    .collectionIcon.svgIcon {
    	//transition-delay: .15s;
    }
    
    &:after {
        display: none;
    }
    
    .domain, p, .tags a {
        color: rgba(255,255,255,.7);
    }

	.status {
		opacity:1 
	}

	&.found .title {
		color: black !important;
	}
    
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,.7);
    }
    :-moz-placeholder {
	    color: rgba(255,255,255,.7);
	}
	::-moz-placeholder {
	    color: rgba(255,255,255,.7);
	}
	:-ms-input-placeholder {
	    color: rgba(255,255,255,.7);
	}
}

groupActive(){
    background: colorTheme;
    color: white;

    input,.toggle {
    	color: inherit;
    	opacity:1;
    }
}

/*@media (hover: hover) and (pointer: fine) {
	html.chrome .collections-scroll-block {
		scroll-snap-type: y mandatory;
	}
}*/

.collections-scroll-block {
	.collections-toolbar {
		scroll-snap-align: center;
		height: 38px;
		padding-left: 19px;
		padding-right: 14px;
		margin-right: 1px;
		display: flex;

		.collections-toolbar-search {
			flex: 1
			min-width: 0
		}

		.collections-toolbar-buttons {
			margin-left: 4px;
			
			.button {
				width: searchHeight
				height: searchHeight
				align-items: center
				justify-content: center
			}
		}

		&[data-sticky='true'] {
			position: sticky;
			top: 0;left:0;right:0;
			z-index: 10;
			box-shadow: 0px .5px 0px rgba(0,0,0,.15), 0px 1px 6px rgba(0,0,0,.15)
		}
	}

	.collections-scroll-main-content {
		scroll-snap-align: start;
		min-height: 100%;
	}
}

.collectionMoveZone {
	height: 1px;
	position: relative;
	z-index: 1;
	
	&:before {
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: (sidebarRightGap + 5px);right:sidebarRightGap;
		height:2px;
		border-radius: 2px;
		content: "";
		opacity: 0;
		background: colorTheme;
		pointer-events: none;
	}
	
	&:after {
		position: absolute;
		top: 50%;
		width: 3px;height:3px;
		margin-top: -3px;
		border: 2px solid colorTheme;
		background: white;
		border-radius: 3px;
		left: sidebarRightGap;
		content: "";
		opacity: 0;
		pointer-events: none;
	}
	
	&.is-drag-over:before,&.is-drag-over:after {
		opacity:1;
		transition: opacity .15s ease-in-out;
		pointer-events: auto;
	}
}

.is-collection-dragging-mode .collectionMoveZone {
	height: 16px;
	margin: -7.5px 0px;
}

img.collectionIcon {
	width: rem(20px);height:rem(20px);
	object-fit: cover;
}

.collection {
	@extend .disable-select;
	display: flex;
	align-items: center;
	position: relative;
	padding: rem(collectionPaddingVertical) 0px;
	padding-right: (sidebarRightGap - 8px);
	//transition: background .01s linear, color .01s linear;

	.expand, .actions span {
		@extend .disable-select;
		
		opacity: .4;
		color: inherit;
		position:relative;
		z-index:1;
		outline: none;
		box-sizing: initial;
		padding: rem(collectionPaddingVertical) 0px;
		margin: rem(collectionPaddingVertical * -1) 0px;

		* {
			pointer-events: none;
		}

		.svgIcon {
			vertical-align: -3px;
			transition: transform .2s ease-in-out;
		}
	}
	
	.expand {visibility: hidden;}
	
	.collectionIcon {
		margin-right: rem(10px);
		&.svgIcon {
			opacity: .5;
			//transition: opacity .15s ease-in-out;
		}
		
		&.accent {
			&.svgIcon {
				opacity: 1;
				color: colorTheme;
			}
		}
	}
	
	.title {
		@extend .text-overflow;
		min-width:0;
		font-size: rem(14px);
	}

	.space {
		flex: 1;
	}
	
	input {
		color: currentColor;
		flex: 1;
		min-width: 0;
		font-size: rem(14px);
		background: transparent;
		appearance: none;
		padding:0;margin:0;border:0;box-shadow:none;
		
		&:focus {
			padding: 2px;
			border-radius: 2px;
			box-shadow: 0 0 0 2px rgba(colorTheme, .5);
			animation: inputFocusAnimation .15s ease-in-out;
		}
	}
	
	.count {
		@extend .text-overflow;
		opacity: .6;
		font-size: rem(11px);
		padding: 0px 6px;
		text-align:right;
		margin-top: -1px;
	}

	.status {
		opacity: .4
		height: 20px
		margin-left: 3px
	}

	.count, .actions {
		width: 42px;
		min-width: 42px;
	}

	.actions {
		display: none;

		&.active {
			display: block;
			background: transparent;
			
			span {
				opacity:1;
			}
		}
		
		span {
			opacity: .7;
			padding-left: 6px;
			padding-right: 6px;
			font-size: rem(13px);
			display: flex;
			align-items: center;
			justify-content: center;

			.svgIcon {
				vertical-align: rem(-4px);
			}
		}
	}

	.permalink {
        outline: none;
        position: absolute;
        left:0;right: 0;bottom:0;top:0;
    }

    &.expanded .expand, &.collapsed .expand {
    	visibility: visible;
    }

    &.collapsed .expand .svgIcon {
    	transform: rotate(-90deg);
    }

    

    &:hover {
    	background-color: rgba(0,0,0,0.07);
    }

    //[data-is-focus="true"]:not(.active), 
    &.active {
        background: rgba(0,0,0,0.08);
    }

    &.is-dragging {
    	opacity: 0;
    }
    
    &.is-drag-over {
    	transition: box-shadow .15s ease-in-out, background .15s ease-in-out;
    	background-color: rgba(74,116,226,.1) !important;
    	box-shadow: inset 0px 0px 0px 2px rgba(74,116,226,.5);
    }
    
    &.no-focus {
    	.title {
    		opacity: .6;
    	}
    }
    
    &.placeholder {
		&:before {
			background: currentColor;
			height: 2px;
			margin: 10px 0px;
			margin-left: 20px;
			content: "";
			opacity: .07;
			width: 80%;
		}
		
		&.small:before {
			width: 30%;
		}
	}

	&.found {
		.title {
			background: var(--foundbg, colorYellowLight);
			box-shadow: 1px 0 0 2px var(--foundbg, colorYellowLight), -1px 0 0 2px var(--foundbg, colorYellowLight);
			border-radius: 1px
		}

		&.found-active {
			--foundbg: colorOrangeLight;
		}
	}
}

html:not(.clipper) .collection {
	&.active:not([data-is-focus="true"]) {
    	background: rgba(0,0,0,0.08) !important;
    }
}

html.clipper .collection.active {
	collectionActive()
}

html:not(.blur) .collection.active {
    &[data-is-focus="true"] {
        collectionActive()
    }
}

html.web:not(.electron) .collection {
	.expand, .actions span {
		&:hover {
			opacity:1;
		}

		&:active {
			opacity:.3;
		}
	}
	
	&.have-actions:hover {
    	.count {
    		display: none;
    	}
    	.actions {
    		display: block;
    	}
    }
}

div:active > section .collection.active:not(:active) {
	background: transparent !important;
}

section:first-child .group {
	margin-top:0;
}

.group {
	cursor: default;
	@extend .disable-select;
	margin-top: rem(12px);
	//@extend .font-weight-semibold;
	padding-left: 20px;
	font-size: rem(13px);
	color: #767676;
	display: flex;
	align-items: center;
	
	&.placeholder {
		&:before {
			//background: currentColor;
			height: 2px;
			margin: 9px 0px;
			width: 30%;
			content: "";
			opacity: .1;
		}
	}
	
	.title {
		@extend .text-overflow;
		flex: 1;
		min-width:0;
		height: rem(groupHeight);
		line-height: rem(groupHeight);
		padding-right: 16px;
	}
	
	form {
		width: 100%;
		flex: 1;
		display:flex;
	}
	
	input {
		width: 100%;
		display: block;
		height: rem(groupHeight);
		line-height: rem(groupHeight);
		background: transparent;
		box-shadow: none;border:0;
		appearance: none;
		margin:0;padding:0;
		padding-bottom: 1px;
		font-size: rem(13px);
		flex:1;
		margin-right: 16px;
	}

	.toggle {
		height: rem(groupHeight);
    	line-height: rem(groupHeight);
		padding:0 sidebarRightGap;
		display:none;
		color: black;
		opacity: .55;

		&:active {
			opacity: .7;
		}
	}
	
	&.active {
        groupActive()
    }
    
    &.is-dragging {
    	opacity: 0;
    }
    
    &.is-drag-over {
    	transition: box-shadow .15s ease-in-out, background .15s ease-in-out;
    	background-color: rgba(74,116,226,.1) !important;
    	box-shadow: inset 0px 0px 0px 2px rgba(74,116,226,.5);
    }
	
	&:hover {
		.toggle {
			display:block;
		}
	}
}


html.mac.web {
	.collection {
		.title, input {
			font-size: rem(13.5px);
		}
	}
	
	.group, .group input {
		font-size: rem(12.5px);
	}
}


.collectionPathWrap {
	flex:1;
	display: flex;
	flex-direction: column;

	.pathWrap {
		flex:1;
		overflow: hidden;
		overflow-y: scroll;
		overflow-y: overlay;
		display: none;
	}
	
	&[data-focus="true"] .pathWrap {
		display: block;
	}
}

.pathWrap {
	padding: 1px 0;
	margin: 0 16px;
	margin-bottom: 16px;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	background: sidebarBackground;
	
	.expand {
		visibility: hidden !important;
	}
	
	.collection.active {
		color: white;
		background: colorTheme !important;
	}
}

html:not(.blur) .collection-new-form {
	collectionActive()
	
	.collectionIcon {
		opacity: 1 !important;
	}
	
	::-webkit-input-placeholder {
		color: rgba(255,255,255,.6)
	}
}

.theme-sidebar-dark {
	.collection.found .title {
		color: black
	}
}