@require "../consts.styl";

sidebarRightGap = 17px;
collectionPaddingVertical = 6px;
groupHeight = 24px;

collectionActive() {
    background: colorTheme;
    background: var(--accentColor);
    color: white;
    
    .collectionIcon svg, .count, .expand, .actions span {
    	opacity:1;
    }

	.status {
		opacity:1 
	}
}

groupActive(){
    background: colorTheme;
    color: white;

    .toggle {
    	color: inherit
    	opacity: 1
    }
}

img.collectionIcon {
	width: 20px
	height:20px
	object-fit: cover;
}

.collections {
	overflow: overlay !important
}

.collection {
	display: flex;
	align-items: center;
	position: relative;
	padding: collectionPaddingVertical 0px;
	padding-right: (sidebarRightGap - 8px);
	padding-left: calc(var(--level) * 21px);

	.expand {		
		visibility: hidden;
		opacity: .4;
		color: inherit;
		position:relative;
		z-index:1;
		outline: none;
		box-sizing: initial;
		padding: collectionPaddingVertical 0px;
		margin: (collectionPaddingVertical * -1) 0px;

		> :first-child {
			vertical-align: -3px;
			pointer-events: none;
		}
	}
	
	.collectionIcon {
		margin-right: 10px
		svg {
			opacity: .5;
		}
	}
	
	.title {
		@extend .text-overflow;
		min-width:0;
		font-size: 14px
	}

	.space {
		flex: 1;
	}
	
	input[type='text'] {
		color: currentColor;
		flex: 1;
		min-width: 0;
		font-size: 14px
		background: transparent;
		appearance: none;
		padding:0;margin:0;border:0;box-shadow:none;
	}

	input[type='checkbox'] {
		margin-right: 8px
	}
	
	.count {
		@extend .text-overflow;
		opacity: .6;
		font-size: 11px
		padding: 0px 6px;
		text-align:right;
		margin-top: -1px;
	}

	.status {
		opacity: .4
		height: 20px
		margin-left: 3px
	}

	.count, .actions {
		width: 42px;
		min-width: 42px;
	}

	.actions {
		display: none;
		text-align: right;
		justify-content: flex-end;

		span {
			opacity: .7;
			position:relative;
			z-index:1;
			display: block;
			padding: 0 4px
		}
	}

	.permalink {
        outline: none;
        position: absolute;
        left:0;right: 0;bottom:0;top:0;
    }

    &.expanded .expand, &.collapsed .expand {
    	visibility: visible;
    }

    &.collapsed .expand > :first-child  {
    	transform: rotate(-90deg);
    }

    &:hover {
    	background-color: rgba(0,0,0,0.07);
    }

    //[data-is-focus="true"]:not(.active), 
    &.active {
        background: rgba(0,0,0,0.08);
    }

    &.is-dragging {
    	box-shadow: 0 1px 3px rgba(0,0,0,.1)
    }
    
    &.is-drag-over {
    	transition: box-shadow .15s ease-in-out, background .15s ease-in-out;
    	background-color: rgba(74,116,226,.1) !important;
    	box-shadow: inset 0px 0px 0px 2px rgba(74,116,226,.5);
    }

	&.active:not([data-is-focus="true"]) {
    	background: rgba(0,0,0,0.08) !important;
    }

	.expand, .actions span {
		&:hover {
			opacity:1;
		}

		&:active {
			opacity:.3;
		}
	}
	
	&.have-actions:hover {
    	.count {
    		display: none;
    	}
    	.actions {
    		display: flex;
    	}
    }
}

html:not(.blur) .collection.active {
    &[data-is-focus="true"] {
        collectionActive()
    }
}

section:first-child .group {
	margin-top:0;
}

.group {
	cursor: default;
	padding-top: 6px
	padding-bottom: 2px
	padding-left: 20px;
	font-size: 13px
	color: #767676;
	display: flex;
	align-items: center;
	
	.title {
		@extend .text-overflow;
		flex: 1;
		min-width:0;
		height: groupHeight
		line-height: groupHeight
		padding-right: 16px;
	}

	.toggle {
		height: groupHeight
    	line-height: groupHeight
		padding:0 4px;
		padding-right: (sidebarRightGap - 4px)
		display:none;
		color: black;
		opacity: .55;

		&:active {
			opacity: .7;
		}
	}
	
	&.active {
        groupActive()
    }
    
    &.is-dragging {
    	box-shadow: 0 1px 3px rgba(0,0,0,.1)
    }
    
    &.is-drag-over {
    	transition: box-shadow .15s ease-in-out, background .15s ease-in-out;
    	background-color: rgba(74,116,226,.1) !important;
    	box-shadow: inset 0px 0px 0px 2px rgba(74,116,226,.5);
    }
	
	&:hover {
		background-color: rgba(0,0,0,0.07);
		.toggle {
			display:block;
		}
	}
}

.picker-search-input {
	padding: 12px 16px
	padding-top: 0
}

.collections-select-mode {
	position: absolute
	z-index: 3
	top: 1px
	left: 7px
	right: 7px
	background: white
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 3px 15px rgba(0,0,0,.1)
	border-radius: 4px

	.collections-select-mode-header {
		display: flex
		align-items: center
		padding: 10px 12px

		.title {
			flex: 1
            font-weight: 500
            font-size: 14px
            @extend .text-overflow
		}
	}

	.collections-select-mode-actions {
		margin-top: -10px
		display: flex
		align-items: center
		padding: 0 4px
	}
}