dotsInitialSpeed = 15s

.accountPageWrap {
	background: darken(white, 3%);
	height: 100vh;width: 100vw;
	//background-image: linear-gradient(180deg,lighten(#f8f5f2,50%),lighten(#f7f5f4,50%) 18%,lighten(#f1f3f5,50%) 35%,lighten(#f7f5f0,50%) 68%,lighten(#f6f6f8,50%));
}

html.electron .accountPage {
	-webkit-app-region: drag;
}

.accountPage {
	&.centerContentWrap .centerContent {
		//text-align: left;
		
		.centerContentBlock {
			width: 350px;
			max-width: 100%;
			z-index: 2;
		}
	}

	.centerContent {
		flex-direction: column
	}
	
	.raindropLogo {
		margin: 0 auto;
		margin-bottom: 20px;
		display: inline-block;
		
		svg {
			height: 14px;
    		width: auto;
		}
	}

	.accountLogo {
		//cursor: pointer;
		display: block;
		text-align: center;
		margin: 20px 0px;
		position: relative;
		z-index: 2;
		
		.svgIcon {
			display: inline-block;
			
			svg {
				width: auto;
        		height: 16px
        	}
		}
	}

	.additionalButtonWrap {
		height: 36px;
		margin: 0 -10px;
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.button, .button b {
			flex: 1;
			justify-content: center;
			cursor: default;
		}
		
		.button b {
			height: 32px;
			line-height: 26px;
			
			.svgIcon {
				vertical-align: -6px;
			}
		}
		
		.loginButton {
			margin: 0 10px;
			font-weight: 500
		}
		
		&.socialLoginWrap {
			margin-top: 16px;
		}
	}
	

	input[type="email"], input[type="text"], input[type="password"] {
		box-shadow: none;border:0;margin:0;
		display: block;
		width: 100%;
		padding: 6px 0px;
		box-shadow: 0px 1px 0px rgba(0,0,0,.1);
		margin-bottom: 10px;
		background: transparent !important;
		
		&:focus {
			box-shadow: 0px 1px 0px colorTheme;
		}
	}
	
	.line {
		width: 30%;
		margin: 10px auto;
		border-top: 1px dotted rgba(0,0,0,.15);
	}
	
	.tabs {
		box-shadow: 0px 1px 0px rgba(0,0,0,.1);
		display: flex;
		justify-content: center;
	}
	
	.dots {
		position: absolute;
		left:-40%;right:-40%;
		animation: fadeBrightAppear 2s ease-in-out;

		span {
			position: absolute;
			width: 8px;height: 8px;
			border-radius: 8px;
			background: colorRed;
			animation: flyingRound dotsInitialSpeed ease-in-out infinite;
			
			&:nth-child(2) {
				background: colorRed;
				right:41%;
				top: 60px;
				animation-direction: alternate-reverse;
				animation-name: flyingRound2;
				animation-duration: (dotsInitialSpeed + 1s);
			}
			
			&:nth-child(1) {
				background: colorGreen;
				width: 5px;height: 5px;
				left: 40%;
    			top: 70px;
    			animation-delay: .5s;
			}
			
			&:nth-child(3) {
				background: colorBlue;
				left: 70%;
    			top: 40px;
    			animation-direction: reverse;
    			animation-name: flyingRound2;
    			animation-delay: .2s;
    			animation-duration: (dotsInitialSpeed - 0.5s);
			}
			
			&:nth-child(4) {
				background: colorYellow;
				width: 5px;height: 5px;
				left: 35%;
    			top: 10px;
    			animation-delay: .9s;
    			animation-duration: (dotsInitialSpeed - 1.5s);
			}
			
			&:nth-child(5) {
				background: colorAsphalt;
				width: 5px;height: 5px;
				right: 70%;
    			top: 30px;
    			animation-direction: reverse;
    			//animation-name: flyingRound2;
    			animation-delay: .7s;
    			animation-duration: (dotsInitialSpeed + 0.5s);
			}
			
			&:nth-child(6) {
				background: colorTheme;
				width: 5px;height: 5px;
				right: 40%;
    			top: 15px;
    			animation-delay: .3s;
			}
		}
	}
	
	.otherLogin {
		text-align: center;
		border-top:1px dotted rgba(0,0,0,.15);
		color: rgba(0,0,0,.3);
		font-size: 14px;
	}
	
	.acceptLicence {
		font-size: 12px
	    font-weight: normal;
	    margin: 16px 0;
	    color: #878787;
	}
}

@keyframes cloudTranslate {
	0% {
		transform: translateX(-1vw) translateY(5vh) rotate(0deg);
		opacity:0;
	}
	50% {
		opacity:.045;
		transform: translateX(10vw) translateY(-7vh) rotate(50deg);
	}
	80% {
		transform: translateX(20vw) translateY(-5vh)  rotate(-20deg);
	}
	100% {
		transform: translateX(20vw) translateY(5vh);
		opacity:0;
	}
}
@keyframes cloudTranslateReverse {
	0% {
		transform: translateX(1vw) translateY(-5vh) rotate(0deg);
		opacity:0;
	}
	50% {
		opacity:.045;
		transform: translateX(-10vw) translateY(7vh) rotate(-30deg);
	}
	80% {
		transform: translateX(-20vw) translateY(5vh) rotate(20deg);
	}
	100% {
		transform: translateX(-20vw) translateY(-5vh);
		opacity:0;
	}
}

.cloudCloud {
	position: absolute;
	opacity: 0;
	top: 20vw;
	z-index:1;
	animation: cloudTranslate dotsInitialSpeed linear infinite;
	animation-direction: alternate, reverse, normal;
	
	svg {
		width: (24px * 3) !important;
		height: (24px * 3) !important;
	}
	
	&:nth-child(2) {
		top: 30vw;
		right: 0;
		animation-name: cloudTranslateReverse;
		animation-delay: 1s;
		animation-duration: (dotsInitialSpeed + 1s);
		
		svg {
			width: (24px * 4) !important;
			height: (24px * 4) !important;
		}
	}
	
	&:nth-child(3) {
		top: 10vw;
		right: 30vw;
		animation-name: cloudTranslateReverse;
		animation-delay: 1s;
		animation-duration: (dotsInitialSpeed - 3s);
		
		svg {
			width: (24px * 2) !important;
			height: (24px * 2) !important;
		}
	}
}

html.retina.chrome {
	.accountPage {
		.tabs,
		input[type="email"], input[type="text"], input[type="password"] {
			box-shadow: 0px 0.5px 0px rgba(0,0,0,.15);
		}
	}
}


@keyframes flyingRound {
	0% {
		transform: translateY(0px) translateX(-12vw) scale(1);
	}
	25% {
		transform: translateY(12vh) translateX(0) scale(1);
	}
	50% {
		transform: translateY(0px) translateX(12vw) scale(1);
	}
	75% {
		transform: translateY(-12vh) translateX(0) scale(0);
	}
	100% {
		transform: translateY(0px) translateX(-12vw) scale(1);
	}
}

@keyframes flyingRound2 {
	0% {
		transform: translateY(0px) translateX(12vw) scale(1);
	}
	25% {
		transform: translateY(-12vh) translateX(0) scale(0);
	}
	50% {
		transform: translateY(0px) translateX(-12vw) scale(1);
	}
	75% {
		transform: translateY(12vh) translateX(0) scale(1);
	}
	100% {
		transform: translateY(0px) translateX(12vw) scale(1);
	}
}