@keyframes fadeAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeBrightAppear {
	0% {
		opacity: 0;
		filter: brightness(2);
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		filter: brightness(1);
		transform: scale(1);
	}
}
@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

.fadeBrightAppear {
	animation: fadeBrightAppear .4s linear;
}

.animation-rotate {
	animation: rotate 1.3s linear infinite;
}


translateYMinus()
	transform: translateY(-25px);opacity:0;
translateYPlus()
	transform: translateY(25px);opacity:0;

@keyframes translateToTopSlightly {
	0% {
		transform: translateY(0px);opacity:1;
	}
	100% {
		translateYMinus()
	}
}

@keyframes translateFromBottomSlightly {
	0% {
		translateYPlus()
	}
	100% {
		transform: translateY(0);opacity:1;
	}
}

.translateFromBottomSlightly {
	animation: translateFromBottomSlightly .5s ease-in-out;
}

.translateFromTopSlightly {
	animation: translateFromTopSlightly .3s ease-in-out;
}

@keyframes translateFromBottomSlightlyWithDelay {
	0% {
		translateYPlus()
	}
	50% {
		translateYPlus()
	}
	100% {
		transform: translateY(0);opacity:1;
	}
}

@keyframes translateToBottomSlightly {
	0% {
		transform: translateY(0px);opacity:1;
	}
	100% {
		translateYPlus()
	}
}

@keyframes translateFromTopSlightly {
	0% {
		translateYMinus()
	}
	100% {
		transform: translateY(0);opacity:1;
	}
}



translateXMinus()
	transform: translateX(-25px);opacity:0;
translateXPlus()
	transform: translateX(25px);opacity:0;

@keyframes translateToRightSlightly {
	0% {
		transform: translateX(0px);opacity:1;
	}
	100% {
		translateXMinus()
	}
}

@keyframes translateFromLeftSlightly {
	0% {
		translateXPlus()
	}
	100% {
		transform: translateX(0);opacity:1;
	}
}

.translateFromLeftSlightly {
	animation: translateFromLeftSlightly .5s ease-in-out;
}

@keyframes translateToLeftSlightly {
	0% {
		transform: translateX(0px);opacity:1;
	}
	100% {
		translateXPlus()
	}
}

@keyframes translateFromRightSlightly {
	0% {
		translateXMinus()
	}
	100% {
		transform: translateX(0);opacity:1;
	}
}

.translateFromRightSlightly {
	animation: translateFromRightSlightly .4s ease-in-out;
}


@keyframes flying {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(6px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes flyingAround {
	0% {
		transform: translateY(0px) translateX(6px);
	}
	25% {
		transform: translateY(6px) translateX(0px);
	}
	50% {
		transform: translateY(0px) translateX(-6px);
	}
	75% {
		transform: translateY(-6px) translateX(0px);
	}
	100% {
		transform: translateY(0px) translateX(6px);
	}
}

.animation-flying {
	animation: flying 3s ease-in-out infinite;
}



@keyframes addButtonAnimation {
	0% {
		transform: scale(0.8);
	}
	50% {
		background: var(--accentColor);
		color: white;
		transform: scale(1.2);
	}
	70% {
		transform: scale(.7);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes inputFocusAnimation {
	0% {
		box-shadow: 0 0 0 16px rgba(255,255,255,0);
	}
	70% {
		box-shadow: 0 0 0 1px rgba(colorTheme, .5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(colorTheme, .5);
	}
}