@keyframes fadeBrightAppear {
	0% {
		opacity: 0;
		filter: brightness(2);
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		filter: brightness(1);
		transform: scale(1);
	}
}
@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

@keyframes flying {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(6px);
	}
	100% {
		transform: translateY(0px);
	}
}

.animation-flying {
	animation: flying 3s ease-in-out infinite;
}