@require "consts.styl";
@require "forms.styl";

@require "columns/*";
@require "pop/*";
@require "reader/*";

.headLabel, .extraHeadLabel {
    font-size: 18px
    font-weight:normal;
    margin: 10px 0;
    margin-top: 20px
}

.extraHeadLabel {
    font-weight: 300
    font-size: 32px
    max-width: 700px;
}

.mediumHeadLabel {
    font-weight: normal;
    font-size: 17px
    color: rgba(0,0,0,.6);
}

.subHeadLabel {
    font-size: 14px
    font-weight: normal
    margin:0;
    color: #878787;
    max-width: 320px;
    margin:0 auto;
}