.checkbox {
	display: flex;
	align-items: center;
	padding: 6px;

	input {
		margin-right: 8px;
	}

	span {
		pointer-events:none;
	}
}

.checkboxGroup {
	padding: 10px;
}

.selectCheckbox {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.13), 0px 1px 0px rgba(0,0,0,.13);
    background: white;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out, border-radius .2s ease-in-out;
    color: buttonColorDefault;
    cursor: pointer;
    text-align: center;
    
    .svgIcon {
        display:block;
        margin-left: 1px;
        margin-top: 1px;
        //transform: scale(0);
        transition: transform .3s ease-in-out;
    }
}

.checked .selectCheckbox {
    color: white !important;
    background: colorTheme;
    background: var(--accentColor, colorTheme);
    box-shadow: 0 0 0 1px colorTheme, 0 0 0 2px white;
    box-shadow: 0 0 0 1px var(--accentColor, colorTheme), 0 0 0 2px white;
    //border-radius: 20px;
    
    .svgIcon {transform: scale(1);opacity:1;}
}

html.retina.chrome {
    .selectCheckbox {
        box-shadow: 0px 0px 0px 0.5px rgba(0,0,0,.16), 0px 1px 0px rgba(0,0,0,.1);
    }
}

.themeDark {
    .selectCheckbox {
        background: rgba(255,255,255,.3);
        box-shadow: none;
    }
    
    .checked .selectCheckbox {
        color: darkBackground !important;
        box-shadow: none;
        background: colorYellowForDark;
    }
}