.show-on-clipper {
    display:none;
}

html.clipper {
	width: 602px !important;
	height: 600px !important;

	.show-on-clipper {
		display: block;
	}
	.hide-on-clipper {
		display: none !important;
	}
	
	#sidebar {
		
	}
	
	#reader {
		z-index:11;
		
		.bookmarkEditWrap {
			box-shadow: none;
	    	max-width: 100%;
		}
		
		.readerContent {
			padding:0 !important;
		}
	}
	
	#reader, #panel {
		width: calc(100% - var(--sidebarWidth, sidebarWidth)) !important;
	}
	.mode-reader #reader, #reader-black-overlay {
		left: var(--sidebarWidth, sidebarWidth) !important;
	}
	
	.current-clipper-bookmark {
		&.element-list, &.element-grid .about {
			background-color: var(--accentOverlay, rgba(colorTheme, .1));
		}
		&.element-grid .permalink {
			box-shadow: 0 0 0 2px var(--accentColorLighten, lighten(colorTheme, 90%)) !important;
		}
	}
}

.clipper-save {
	height: headerHeight;
	display: flex;
	padding: 10px 16px;
	
	.clipper-save-button {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		font-size: rem(13px);
		background: var(--accentColor, colorTheme);
		color: white;
		border-radius: 2px;
		cursor: pointer;
		user-select: none;
		//transition: background .15s ease-in-out, color .15s ease-in-out, box-shadow .15s ease-in-out;
		
		.clipper-save-button-icon {
			margin-right: 6px;
		}
		
		.preloader .preloaderPath {
			stroke: currentColor;
		}
		
		&.status-saved {
			color: var(--accentColor, colorTheme);
			background: var(--accentOverlay, rgba(colorTheme,.1));
			box-shadow: inset 0 0 0 1px var(--accentOverlay, rgba(colorTheme,.1));
		}
		
		&.status-init {
			color: rgba(0,0,0,.2);
			background: rgba(0,0,0,.05);
			box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
		}
		
		&:active {
			filter: brightness(.8);
		}
	}
}

.clipper-floating-buttons {
	position: fixed;
	z-index:99;
	right:0;
	bottom:0;
	display: flex;
	white-space: nowrap;
	padding: 5px;
}

.clipper-floating-button {
	padding: 5px;
	color: inherit;
	
	> span {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 24px;
		box-shadow: 0 0 0 1px rgba(0,0,0,.13), 0 1px 1px rgba(0,0,0,.13);
		background: white;

		.svgIcon {
			opacity: .5;
		}
	}
	
	&:hover {
		color: white;
		
		> span {
			background: colorTheme;

			.svgIcon {
				opacity:1;
			}
		}
	}
}