scrollBarWidth = 11px;
baseHorizontalGap = 16px;
headerHeight = 48px;

separatorColor = rgba(0,0,0,.1);
subSeparatorColor = #EDEDED;//rgba(0,0,0,.07);
subSeparatorColorAlpha = rgba(0,0,0,.1);
sidebarBackground = #F4F4F4;
contentBackground = #FEFEFE;
readerErrorBackground = #F7F7F7;
darkBackground = darken(#383838,15%);
sunsetBackground = #f8f2e3;


colorTheme = #1988E0;
colorRed = #DC5758;
colorYellow = #F5A623;
colorYellowForDark = #DCC28F;
colorGreen = #00A51B;
colorBlue = #2196F3;
colorAsphalt = #7E868D;
buttonColorDefault = rgba(0,0,0,.6);
buttonColorDefaultPlain = #737373;

layoutTransitionSpeed = .3s;

.text-overflow {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}