scrollBarWidth = 11px;
baseFontSize = 16px;
clipperToolbarHeight = 40px;
baseHorizontalGap = 16px;
headerHeight = 48px;
searchHeight = 28px;

separatorColor = rgba(0,0,0,.1);
subSeparatorColor = #EDEDED;//rgba(0,0,0,.07);
subSeparatorColorAlpha = rgba(0,0,0,.1);
sidebarBackground = #F4F4F4;
contentBackground = #FEFEFE;
readerErrorBackground = #F7F7F7;
darkBackground = darken(#383838,15%);
sunsetBackground = #f8f2e3;
gridBackground = #F9F9F9;//
lightGradient = linear-gradient(180deg,#f8f5f2,#f7f5f4 18%,#f1f3f5 35%,#f7f5f0 68%,#f6f6f8);
safariClipperGradient = linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.75) 30px);

colorPurple = #9523F5;
colorLink = #205C98;
colorTheme = #1988E0;
colorRed = #DC5758;
colorYellow = #F5A623;
colorYellowLight = #ffeda7;
colorOrangeLight = #F2B067;
colorYellowForDark = #DCC28F;
colorGreen = #00A51B;
colorBlue = #2196F3;
colorAsphalt = #7E868D;
colorAsphaltDark = darken(#7E868D,30%);
buttonColorDefault = rgba(0,0,0,.6);
buttonColorDefaultPlain = #737373;

layoutTransitionSpeed = .3s;

.disable-transition, .disable-transition * {
    transition: none !important;
    animation: none !important;
}

.text-overflow {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}