/*@font-face {
  font-family: 'RainSego';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI'), local('SegoeUI'),
        url('../assets/fonts/SegoeUIRegular.woff') format('woff');
}

@font-face {
  font-family: 'RainSego Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('WOL_SB'), local('Segoe UI Semibold'), local('SegoeUI-SemiBold'), local('SegoeUISemibold'), local("wf_SegoeUISemibold"), local("Segoe WP Semibold"),
        url('../assets/fonts/SegoeUISemiBold.woff') format('woff');
}

@font-face {
  font-family: 'RainSego Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SegoeUI-Bold'), local('Segoe UI Negreta'), local('SegoeUINegreta'),
        url('../assets/fonts/SegoeUIBold.woff') format('woff');
}

@font-face {
  font-family: 'RainSego Light';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Light'), local('SegoeUI-Light'), local('SegoeUILight'), local("wf_SegoeUILight"), local("Segoe WP Light"),
        url('../assets/fonts/SegoeUILight.woff') format('woff');
}*/