@require "../consts.styl";

.domain {
    margin-top: 2px;
    color: gray;
    font-size: 14px;
    
    .domainFavIcon {
        display:inline-block;
        vertical-align: -4px;

        .svgIcon {
            margin-right: 6px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
        
        img {
            width: 16px;height:16px;
            display:block;
            margin-right: 6px;
        }
    }
    
    b {
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500
    }
}

.avatar {
    opacity:1 !important;
    position: relative;
    
    &:before {
        border-radius: 100%;
        content:"";
        position: absolute;
        left:0;top:0;right:0;bottom:0;
        box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,.1);
    }
    
    img {
        border-radius: 100%;
        width: 20px;height:20px;
    }
}

html.chrome.retina .avatar:before {
    box-shadow:inset 0px 0px 0px 0.5px rgba(0,0,0,.1);
}

.flip-horizontal {
    transform: scaleX(-1)
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
    
    > div {
        flex: 1 1 0px;
        margin: 40px;
        min-width: 250px;
        text-align: left;

        .subHeadLabel {
            margin-left: 0;
            margin-right: 0;
        }
    }
}