@require "consts.styl"

@keyframes searchKeywordsAppear {
	0% {
		flex: 0.000001;
	}
	100% {
		flex: 1;
	}
}

.search {
	flex: 1;
	transition: flex .2s ease-in-out;
	will-change: flex;
	//transform: translatez(0);
	min-width: 0;
	//margin-right:4px;

	.searchKeywordsWrap {
		padding:10px 0;
		margin-right: 10px;
	}
	
	&:last-child .searchKeywordsWrap {
		margin-right: 16px;
	}

	.searchKeywordsItems {
		display: flex;
    	align-items: center;
    	
    	&:not(:empty) {
    		margin-right: rem(2px);
    	}
	}

	.searchKeywords {
		transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		//box-shadow: inset 0px 0 0px 1px rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
		border-radius: 2px;
		background: rgba(0,0,0,.05);
		font-size: rem(14px);
		position: relative;
		padding: rem(3px) 0;
		//overflow: hidden;
		//height: searchHeight;
		//white-space: nowrap;
		white-space: nowrap;
    	overflow: hidden;
    	display: flex;
    	align-items: center;

		.keyword {
			display: flex;
			align-items: center;
			white-space: nowrap;
			height: rem(searchHeight - 6px);
			padding: 0px 8px;
			background: colorTheme;
			background: var(--accentColor, colorTheme);
			color: white;
			margin: 0;
			margin-left: rem(4px);
			border-radius: 2px;
			transform-origin: 0 50%;

			* {
				pointer-events: none;
			}

			.keywordLabel {
				margin-top: rem(-1px);
			}

			.icon {
				margin-right: 6px;

				.svgIcon, img {
					display:block;
				}

				img, .domain-icon-placeholder, .tagIcon {
					vertical-align: -3px;
					display: inline-block;
					width: 16px;height: 16px;
					object-fit: contain;
				}
				
				.collectionIcon {
					vertical-align: -3px;
				}
				
				.tagIcon {
					width: 8px;height:8px;
					border-radius: 8px;
					vertical-align: 1px;
					box-shadow: 0px 0px 0px 1px white;
				}
			}

			.close {
				margin-left: 8px;
				margin-right: -2px;
				opacity: .6;
			}
			
			&.keyword-collection {
				//background: rgba(0,0,0,.05);
				//color: black;
			}

			&:hover {
				box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.2);
				.close {
					opacity:1;
				}
			}
			
			&:active {
				filter: brightness(.8);
			}
		}

		.searchMagnifier {
			margin-left: rem(6px);
		}
		
		.searchMagnifierArrow, .searchMagnifier {
			opacity: .5;
			pointer-events: none;
			display: inline-block;
		}
		
		.searchMagnifierArrow {
			margin-left: rem(-8px);
			margin-right: rem(-2px);
		}
		
		.clear {
			.searchMagnifier {
				display:block;
				color: inherit;
			}
		}

		.searchInput {
			display: inline-block;
			outline: none;
			appearance: none;
			background: transparent;
			border: 0;
			box-shadow: none;
			padding:0;
			margin:0;
			font-size: rem(15px);
			flex:1;
			padding: 0 6px;
			padding-bottom: 2px;
			height: rem(searchHeight - 4px);
			//width: calc(100% - 90px);
			min-width: 100px;
			-webkit-user-select: initial !important;
		}
		
		.searchButton {
			//min-width: 200px;
			display: inline-block;
			flex:1;
			line-height: rem(searchHeight - 5px);
			height: rem(searchHeight - 4px);
			color: lighten(#000, 60);
			//text-align: center;
			
			.searchButtonTitle {
				display:none;
				//padding-right: 12px;
			}
			
			.searchMagnifier {
				opacity:1;
				vertical-align: -5px;
			}
		}
	}

	&.min {
		.searchKeywords {
			
		}
	}

	&.focus .searchKeywords, &.open .searchKeywords:not(.empty) {
		background: white;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	}
}

html.retina.chrome {
	.search:not(.focus) .searchKeywords {
		//box-shadow: inset 0px 0 0px 0.5px rgba(0,0,0,.15), inset 0 -0.5px 0 rgba(0,0,0,.1), 0px 0.5px 0 rgba(0,0,0,.1);
	}
	.search.focus .searchKeywords {
		box-shadow: inset 0 0 0 0.5px colorTheme;
		box-shadow: inset 0 0 0 0.5px var(--accentColor, colorTheme);
	}
}



quickFilterVerticalGap = 5px;

html.electron .quickFilters {
	-webkit-app-region: drag;
}

.quickFilters {
	-webkit-user-select: none;
    
	/*display: flex;
	flex-wrap: wrap;
	align-items: center;*/
	min-height: rem(26px);
	margin: 0px baseHorizontalGap;
	font-size: rem(13px);
	overflow: hidden;
    white-space: nowrap;
	/*margin-bottom: 4px;*/
	transition: min-height .25s ease-in-out, height .25s ease-in-out/*, opacity .3s ease-in-out*/;
	will-change: min-height, height;
	position: relative;
	//margin-top: -2px;
	margin-bottom: 16px;
	color: rgba(0,0,0,.4);
	
	.title {
		display: inline-block;
		margin-right: 18px;
	}

	.button.min {
		color: colorAsphalt !important;
		padding: rem(quickFilterVerticalGap - 2px) 6px;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.08), inset 0px -1px 0px rgba(0,0,0,.04);
		margin: 2px 0px;
		margin-right: 4px;
		border-radius: 2px;
		height: 22px;
		
		&.filter-item {
			box-shadow: none;
		}
		
		.title {
			margin:0;
		}

		.svgIcon + .title {
			margin-left: 5px;
			
			&:empty {
				display:none;
			}
		}
		
		&.collapse {
			margin-left: 6px;
		}
		
		&:active {
			background: transparent;
		}
		
		&:hover, &.active {
			background: accentOverlay;
			background: var(--accentOverlay, rgba(colorTheme,.1));
			color: accentColor !important;
			color: var(--accentColor, colorTheme) !important;
		}
	}

	.tagIcon, .domain-icon-placeholder {
		width: 8px;height: 8px;
		border-radius: 8px;
		display: inline-block;
	}

	.domain-icon {
		display: inline-block;
		height: 8px;
		overflow: initial !important;
		img {
			width: 12px;height:12px;display: block;margin-top:-2px;
			filter:grayscale(100%);
			opacity:.5;
		}
		
		&.domain-icon-placeholder {
			margin:0;
			display: block;
		}
	}
	
	&:not(.loading):empty, &.hide:not(.loading) {
		min-height:0;
		height:0;
		//margin-top:0;
	}
	
	&.loading, &:empty {
		opacity: 0;
	}
	
	.is-filter-important  {

		.svgIcon {
			color: colorRed;
		}
	}
	
	.is-filter-best  {
		.svgIcon {
			color: colorBlue;
		}
	}
	
	.lessQuickFilters {
        display:none;
        opacity: .7;
        
        .svgIcon {
        	transform: rotate(90deg);
        	margin: -4px 0;
        }
    }
    
    .separator {
    	margin: 0px 4px;
    	margin-left: 6px;
    	margin-bottom: -2px;
    	border-right: 1px dotted currentColor;
    	opacity: .4;
    	display: inline-block;
    	width:1px;
    	height: 13px;
    	
    	&:last-child {
    		display:none;
    	}
    }
    
    .filters-title {
    	padding-top: 4px;
    	display: inline-block;
    }
	
	&.showAll {
		height: auto;
		white-space: normal;
		
		.lessQuickFilters {
	        display: inline-flex;
	    }
		
		.quickFiltersOverlay {
			display: none;
		}
	}
}

.section .sectionName + div .quickFilters {
	box-shadow: -8px 0px 0px -7px rgba(0,0,0,.1); 
	margin-left: 16px;
	padding-left: 6px;
}

html.electron .quickFiltersOverlay {
	-webkit-app-region: drag;
}

.quickFiltersOverlay {
	position: absolute;
	right:0;
	top: rem(2px);
	bottom:0;
	z-index: 1;
	padding-left: 50px;
	padding-right: 0;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 30%);
	content: "";
	white-space: nowrap;
	display: flex;
	-webkit-user-select: none;
	
	.button.min {
		margin:0;
		margin-top: 0px;
		opacity: .7;
		height: rem(22px);
	}
}

#markup:not(.themeDark) .main-gray-background, .mode-reader #markup:not(.themeDark) {
	.quickFiltersOverlay {
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, gridBackground 30%);
	}
}

html.retina.chrome {
	.quickFilters .button.min:not(.filter-item) {
		box-shadow: inset 0px 0px 0px 0.5px rgba(0,0,0,.14), inset 0px -0.5px 0px rgba(0,0,0,.1);
	}
}

.themeDark {
	.searchKeywords {
		background: rgba(0,0,0,.2);
		
		.keyword {
			background: colorYellowForDark;
			color: darkBackground !important;
			box-shadow: none !important;
		}
	}
	
	.search {
		&.focus .searchKeywords, &.open .searchKeywords:not(.empty) {
			background: rgba(0,0,0,.2);
			box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
		}
	}
	
	.quickFilters {
		color: rgba(255,255,255,.5);
		
		.button.min {
			color: rgba(255,255,255,.5) !important;
			box-shadow: none;
			background: rgba(255,255,255,.05);
		}
	}
	
	.quickFiltersOverlay {
		background: linear-gradient(to right, rgba(darkBackground,0) 0%, darkBackground 30%);
	}
}