@require "consts.styl"

.search {
	flex: 1
}

.search-input {
    max-width: 300px
    background: rgba(0,0,0,.05)
    border-radius: 3px

    form {
        display: flex
        align-items: center

        input {
            flex: 1
            min-width: 0
            border: 0
            outline: none
            background: transparent
			border: 0
			box-shadow: none
            padding: 6px 0
			margin: 0
            -webkit-user-select: initial !important
            font-size: rem(14px)
        }
    }

    &[data-active="true"] {
        background: rgba(255,255,255,.5)
        box-shadow: inset 0 0 0 1px var(--accentColor, colorTheme);
    }
}

.search-input-icon {
    display: flex
    align-items: center
    justify-content: center
    width: searchHeight - 4px
    height: searchHeight - 4px
    margin: 0 4px

    .search-input-magnifier {
        opacity: .5
    }
}

.search-button {
    width: searchHeight
    height: searchHeight
    display: flex
    align-items: center
    justify-content: center
    padding: 0
    flex-shrink: 0

    & > * {
        pointer-events: none
    }
}

.search-input-nofound {
    height: searchHeight
    display: flex
    align-items: center
    justify-content: center
}

.themeDark {
	#main, #panel, #sidebar, #reader, .pop-body {
        .search-input {
            background: rgba(255,255,255,.1)
        }
    }
}