.header {
    display: flex
    flex-direction: row
    align-items: center
    height: var(--header-height)
    padding: 0 var(--padding-medium)
    box-shadow: 0 var(--shadow-height) 0 var(--shadow-color)
    z-index: 10
    flex-shrink: 0

    position: sticky
    top: 0

    background: var(--background-color)

    > *:not(:last-child) {
        margin-right: var(--padding-small)
    }

    &[data-no-shadow] {
        box-shadow: none
    }
}

@supports (backdrop-filter: none) {
	.header[data-fancy] {
		background: unquote('hsla(var(--background-hsl), .85)')
		backdrop-filter: blur(10px)
	}
}

.title {
    min-width: 0
    font-size: var(--head-font-size)
    font-weight: 500

    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    word-wrap: break-word
}

.space {
    flex: 1
}

.firstAction {
    margin-left: calc(var(--padding-small) * -1)
}

.lastAction {
    margin-right: calc(var(--padding-small) * -1)
}