@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../../../assets/fonts/Inter-roman.var.woff2?v=3.12') format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../../../assets/fonts/Inter-italic.var.woff2?v=3.12') format("woff2");
}