@import './size.css';
@import './themes.css';

* {
    box-sizing: border-box;
}

body, input, textarea, select, button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: var(--primary-font-size)
}

.page, input, textarea, select, button {
    line-height: 1.3;
}

input, textarea, select, button {
    color: inherit;
    background: inherit;    
}

::placeholder {
    color: var(--disable-text-color);
    opacity: 1;
}

.page {
    background: var(--background-color);
    height: 100%;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

html:global(.scrollbar-obtrusive) {
    scrollbar-color: var(--shadow-light-color) transparent;

    ::-webkit-scrollbar {
        width: 0;
        height: var(--tertiary-font-size);
        will-change: width;
        background: transparent;
        transition: width .2s ease-in-out;
    }
    ::-webkit-scrollbar * {
        background: transparent;
    }
    :hover::-webkit-scrollbar, body::-webkit-scrollbar {
        width: var(--tertiary-font-size)
    }

    ::-webkit-scrollbar-thumb {
        border: 3px solid unquote('hsla(var(--background-hsl), 0)');
        border-radius: var(--tertiary-font-size);
        box-shadow: inset 0px 0px 0px 7px var(--shadow-color);
        transition: box-shadow .2s ease-in-out;
    }

    ::-webkit-scrollbar-button{
        width: 0;
        height: 0;
        display: none;
    }
}