:root {
    --app-size: 1;

    --padding-mini: calc(4px * var(--app-size));
    --padding-small: calc(8px * var(--app-size));
    --padding-medium: calc(16px * var(--app-size));
    --padding-large: calc(24px * var(--app-size));
    --border-radius: calc(3px * var(--app-size));

    /* fonts */
    --head-font-size: calc(16px * var(--app-size));
    --title-font-size: calc(15px * var(--app-size));
    --primary-font-size: calc(14px * var(--app-size));
    --secondary-font-size: calc(13px * var(--app-size));
    --tertiary-font-size: calc(11px * var(--app-size));

    /* size */
    --icon-size: calc(20px * var(--app-size));
    --shadow-height: 1px;
    --button-height: calc(28px * var(--app-size));
    --list-item-height: calc(32px * var(--app-size));
    --header-height: calc(48px * var(--app-size));
}

html:global(.retina) {
    --shadow-height: .5px;
}