:root {
    font-size: 4px;

    --padding-mini: 1rem;
    --padding-small: 2rem; /*8px*/
    --padding-medium: 4rem; /*16px*/
    --padding-large: 6rem; /*24px*/
    --border-radius: 1rem; /*4px*/

    /* fonts */
    --head-font-size: 4rem; /*16px*/
    --title-font-size: 3.75rem; /*15px*/
    --primary-font-size: 3.5rem; /*14px*/
    --secondary-font-size: 3.25rem; /*13px*/
    --tertiary-font-size: 3rem; /*12px*/

    /* size */
    --icon-size: 5rem; /*20px*/
    --shadow-height: 1px;
    --button-height: 7rem; /*28px*/
    --list-item-height: 8rem; /*32px*/
    --header-height: 12rem; /*48px*/
}

[data-app-size='large'],
html:global(.mobile)[data-app-size='default'] {
    font-size: 4.5px;
}

html:global(.mobile)[data-app-size='large'] {
    font-size: 5px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    :root, [data-app-size] {
        --shadow-height: .5px;
    }
}