:root, [data-app-size] {
    --app-base-size: 4px;

    --padding-mini: var(--app-base-size);
    --padding-small: calc(var(--app-base-size) * 2); /*8px*/
    --padding-medium: calc(var(--app-base-size) * 4); /*16px*/
    --padding-large: calc(var(--app-base-size) * 6); /*24px*/
    --border-radius: var(--app-base-size); /*4px*/

    /* fonts */
    --head-font-size: calc(var(--app-base-size) * 4); /*16px*/
    --title-font-size: calc(var(--app-base-size) * 3.75); /*15px*/
    --primary-font-size: calc(var(--app-base-size) * 3.5); /*14px*/
    --secondary-font-size: calc(var(--app-base-size) * 3.25); /*13px*/
    --tertiary-font-size: calc(var(--app-base-size) * 3); /*12px*/

    /* size */
    --icon-size: calc(var(--app-base-size) * 5); /*20px*/
    --shadow-height: 1px;
    --button-height: calc(var(--app-base-size) * 7); /*28px*/
    --list-item-height: calc(var(--app-base-size) * 8); /*32px*/
    --header-height: calc(var(--app-base-size) * 12); /*48px*/
}

[data-app-size='large'],
html:global(.mobile) [data-app-size='default'] {
    --app-base-size: 4.5px;
}

html:global(.mobile) [data-app-size='large'] {
    --app-base-size: 5px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    :root, [data-app-size] {
        --shadow-height: .5px;
    }
}