:root {
    --padding-mini: 4px;
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;
    --border-radius: 3px;

    /* fonts */
    --head-font-size: 16px;
    --title-font-size: 15px;
    --primary-font-size: 14px;
    --secondary-font-size: 13px;
    --tertiary-font-size: 11px;

    /* size */
    --icon-size: 20px;
    --shadow-height: 1px;
    --button-height: 28px;
    --list-item-height: 32px;
    --header-height: 48px;
}

html:global(.retina) {
    --shadow-height: .5px;
}