:root {
    //background
    --background-color: white
    --alternative-background-color: rgba(0,0,0,.05)
    --disable-background-color: hsl(0,0,85%)

    //brand
    --accent-color: hsl(207,80,49)

    //text colors
    color: hsl(0,0,10%)
    --primary-text-color: hsl(0,0,35%)
    --secondary-text-color: hsl(0,0,55%)
    --disable-text-color: hsl(0,0,45%)

    //shadows
    --shadow-color: rgba(0,0,0,.2)
}

:global(.night) {
    color: hsl(0,0,90%)
}

:global(.sunset) {
}