:root {
    //background
    --background-color: white
    --alternative-background-color: rgba(0,0,0,.05)
    --active-background-color: hsl(0,0,92%)
    --disable-background-color: hsl(0,0,85%)

    //brand
    --accent-color: hsl(207,80,49)

    //text colors
    color: hsl(0,0,10%)
    --primary-text-color: hsl(0,0,35%)
    --secondary-text-color: hsl(0,0,55%)
    --disable-text-color: hsl(0,0,45%)

    //shadows
    --shadow-color: rgba(0,0,0,.2)
    --shadow-light-color: rgba(0,0,0,.12)
}

[data-theme='night'] {
    --background-color: hsl(225,5,13%)
    --alternative-background-color: rgba(255,255,255,.1)
    --active-background-color: hsl(225,5,33%)
    --disable-background-color: hsl(225,5,22%)

    --accent-color: white

    color: hsl(0,0,90%)
}

[data-theme='sunset'] {
}