:root, [data-theme='day'] {
    /*background*/
    --background-hsl: 0,0%,100%;
    --background-color: hsl(var(--background-hsl));
    --alternative-background-color: hsl(0,0%,95%);
    --hover-background-color: rgba(0,0,0,.05);
    --active-background-color: hsl(0,0%,90%);
    --disable-background-color: hsl(0,0%,85%);

    /*brand*/
    --accent-color: hsl(207,80%,49%);

    /* text colors */
    color: hsl(0,0%,10%);
    --primary-text-color: hsl(0,0%,35%);
    --secondary-text-color: hsl(0,0%,50%);
    --disable-text-color: rgba(0,0,0,.4);

    /* shadows */
    --shadow-color: rgba(0,0,0,.2);
    --shadow-light-color: rgba(0,0,0,.12);
}

[data-theme='night'] {
    /* background */
    --background-hsl: 0,0%,17%;
    --background-color: hsl(var(--background-hsl));
    --alternative-background-color: hsl(0,0%,13%);
    --hover-background-color: rgba(255,255,255,.1);
    --active-background-color: hsl(0,0%,26%);
    --disable-background-color: hsl(0,0%,17%);

    /* brand */
    --accent-color: hsl(207,80%,49%) !important;

    /* text colors */
    color: hsl(0,0%,90%);
    --primary-text-color: hsl(0,0%,75%);
    --secondary-text-color: hsl(0,0%,50%);
    --disable-text-color: rgba(255,255,255,.4);

    /* shadows */
    --shadow-color: rgba(0,0,0,.4);
    --shadow-light-color: rgba(0,0,0,.2);
}

[data-theme='sunset'] {
    /* background */
    --background-hsl: 43,60%,97%;
    --background-color: hsl(var(--background-hsl));
    --alternative-background-color: hsl(43,60%,95%);
    --active-background-color: hsl(43,60%,92%);
    --disable-background-color: hsl(43,60%,85%);

    /* brand */
    --accent-color: hsl(207,80%,49%) !important;

    /* text colors */
    color: hsl(43,60%,10%);
    --primary-text-color: hsl(43,60%,25%);
    --secondary-text-color: hsl(43,60%,45%);
    --disable-text-color: rgba(0,0,0,.4);
}