:root, [data-theme='day'] {
    /*background*/
    --background-color: hsl(0,0%,100%);
    --alternative-background-color: hsl(0,0%,95%);
    --hover-background-color: rgba(0,0,0,.05);
    --active-background-color: hsl(0,0%,90%);
    --disable-background-color: hsl(0,0%,85%);

    /*brand*/
    --accent-color: hsl(207,80%,49%);

    /* text colors */
    color: hsl(0,0%,10%);
    --primary-text-color: hsl(0,0%,35%);
    --secondary-text-color: hsl(0,0%,50%);
    --disable-text-color: hsl(0,0%,60%);

    /* shadows */
    --shadow-color: rgba(0,0,0,.2);
    --shadow-light-color: rgba(0,0,0,.12);
}

[data-theme='night'] {
    /* background */
    --background-color: hsl(225,5%,13%);
    --alternative-background-color: hsl(225,5%,19%);
    --hover-background-color: rgba(255,255,255,.1);
    --active-background-color: hsl(225,5%,22%);
    --disable-background-color: hsl(225,5%,5%);

    /* brand */
    --accent-color: hsl(207,80%,49%) !important;

    /* text colors */
    color: hsl(0,0%,90%);
    --primary-text-color: hsl(0,0%,65%);
    --secondary-text-color: hsl(0,0%,45%);
    --disable-text-color: hsl(0,0%,55%);

    /* shadows */
    --shadow-color: rgba(255,255,255,.3);
    --shadow-light-color: rgba(255,255,255,.2);
}

[data-theme='sunset'] {
    /* background */
    --background-color: hsl(43,60%,97%);
    --alternative-background-color: hsl(43,60%,95%);
    --active-background-color: hsl(43,60%,92%);
    --disable-background-color: hsl(43,60%,85%);

    /* brand */
    --accent-color: hsl(207,80%,49%) !important;

    /* text colors */
    color: hsl(43,60%,10%);
    --primary-text-color: hsl(43,60%,25%);
    --secondary-text-color: hsl(43,60%,45%);
    --disable-text-color: hsl(43,60%,35%);
}