/* Default theme + common parameters */
:root, [data-theme] {
    /*background*/
    --background-hsl: 0,0%,100%;
    --background-color: hsl(var(--background-hsl));
    --sidebar-background-color: hsl(0,0%,95%);
    --alternative-background-color: rgba(0,0,0,.05);
    --hover-background-color: rgba(0,0,0,.05);
    --active-background-color: hsl(0,0%,90%);
    --disable-background-color: hsl(0,0%,85%);

    /*brand*/
    --accent-hsl: 207,80%,49%;
    --accent-color: hsl(var(--accent-hsl));

    /* text colors */
    color: hsl(0,0%,10%);
    --primary-text-color: hsl(0,0%,35%);
    --secondary-text-color: hsl(0,0%,50%);
    --disable-text-color: rgba(0,0,0,.3);

    /* shadows */
    --shadow-color: rgba(0,0,0,.2);
    --shadow-light-color: rgba(0,0,0,.12);
}

[data-theme='night'] {
    /* background */
    --background-hsl: 0,0%,19%;
    --sidebar-background-color: hsl(0,0%,16%);
    --alternative-background-color: rgba(0,0,0,.3);
    --hover-background-color: rgba(255,255,255,.1);
    --active-background-color: hsl(0,0%,26%);
    --disable-background-color: hsl(0,0%,17%);

    /*brand*/
    --accent-hsl: 43,80%,59%;

    /* text colors */
    color: hsl(0,0%,90%);
    --primary-text-color: hsl(0,0%,75%);
    --secondary-text-color: hsl(0,0%,50%);
    --disable-text-color: rgba(255,255,255,.4);

    /* shadows */
    --shadow-color: rgba(255,255,255,.15);
    --shadow-light-color: rgba(255,255,255,.1);
}

[data-theme='sunset'] {
    /* background */
    --background-hsl: 43,60%,97%;
    --sidebar-background-color: hsl(43,60%,95%);
    --active-background-color: hsl(43,50%,90%);
    --disable-background-color: hsl(43,60%,85%);

    /* text colors */
    color: hsl(43,10%,10%);
    --primary-text-color: hsl(43,10%,35%);
    --secondary-text-color: hsl(43,10%,50%);
}