:global(.hide-tags) .tags {
    display: none
}

.tags {
    z-index: 1
    position: relative

    a {
        color: var(--accent-color)
        margin-right: var(--padding-small)

        &:hover {
            text-decoration: underline
        }
    }
    
    &:empty {
        display:none
    }
}