.element {
    background: var(--background-color)
    position: relative
    
    &.broken {
        .title, p {
            opacity:.7
        }
        
        .title {
            text-decoration:line-through
        }
    }

    &:hover {
        .select, .actions {
            opacity: 1;
        }
    }
    
    &.active, &.checked {
        --background-color: var(--active-background-color);
    }

    &.active, &.isDragging {
        .actions {
            opacity: 0
        }
    }
    
    &.isDragging {
        box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 3px 15px rgba(0,0,0,.1);
        border-radius: var(--border-radius)
    }
}

//About
.about {
    display: grid
    grid-auto-flow: row
    gap: var(--padding-mini)

    em {
        font-weight: 600
        font-style: normal
    }

    .title {
        font-weight: 500
        font-size: var(--title-font-size)
    }

    .description {
        display: flex
        flex-direction: column
        font-size: var(--primary-font-size)
        overflow: hidden
        color: var(--primary-text-color)

        > :not(:last-child):not(:empty) {
            margin-bottom: var(--padding-mini)
        }

        &:empty {
            display: none
        }

        .body {
            border-left: 2px solid var(--accent-color);
            padding: 2px var(--padding-small);

            &:after {
                content: '…'
            }
        }
    }

    .info {
        color: var(--secondary-text-color)
        font-size: var(--secondary-font-size)
        
        display: flex
        flex-direction: row
        flex-wrap: wrap
        overflow: hidden

        section {
            min-width: 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            word-wrap: break-word
            position: relative

            &[data-inline] {
                padding-right: var(--padding-small)
            }

            &:not(:last-child):not([data-inline]) {
                padding-right: var(--padding-large)

                &:after {
                    position: absolute
                    right: 0
                    top: 0
                    content: '·'
                    width: var(--padding-large)
                    text-align: center
                }
            }
        }
    }

    .title, .excerpt {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}

html:not(:global(.blur)) {
    .element[data-is-focus="true"] {
        --background-color: var(--accent-color)
        color: unquote('hsl(var(--background-hsl))')
        --primary-text-color: unquote('hsla(var(--background-hsl), .8)')
        --secondary-text-color: unquote('hsla(var(--background-hsl), .6)')

        .description {
            --accent-color: unquote('hsl(var(--background-hsl))')
        }
    }
}

//Select
.select {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    left:0;
    top:0;
    background: inherit
    width: var(--padding-large)
    height: var(--padding-large)
    display: flex
    align-items: center
    justify-content: center
    border-bottom-right-radius: var(--border-radius)
    box-shadow: var(--shadow-height) var(--shadow-height) 0 var(--shadow-color)
}

.selectModeEnabled {
    .select {
        opacity:1 !important;
    }
    .actions {
        display: none !important;
    }
}

//Actions
.actions {
    position: absolute
    z-index: 1
    right: var(--padding-medium)
    top: var(--padding-medium)
    display: inline-grid
    grid-auto-flow: column
    gap: var(--padding-small)
    justify-content: start
    opacity: 0
    transition: opacity .1s linear
}

//Other
.importantIcon {
    color: var(--accent-color)
}

//View specific
.list, .simple {
    display: grid
    grid-template-columns: auto 1fr
    gap: var(--padding-medium)
    padding: var(--padding-medium)
    
    &:before {
        content: ''
        position: absolute
        left: var(--padding-medium)
        bottom: 0
        right: 0
        height: 1px
        box-shadow: inset 0 calc(var(--shadow-height) * -1) 0 var(--shadow-light-color)
    }
}

:global(.list-cover-right) .list {
    grid-template-columns: 1fr auto
}

.simple {
    .excerpt {
        display: none
    }
}

.grid, .masonry {
    display: flex
    flex-direction: column
    border-radius: var(--border-radius)
    
    .about {
        padding: calc(var(--padding-medium) - var(--padding-mini))
    }

    &:before {
        content: ''
        position: absolute
        z-index: 2
        left: 0
        top: 0
        right: 0
        bottom: 0
        pointer-events: none
        box-shadow: inset 0 0 0 var(--shadow-height) var(--shadow-color)
        border-radius: var(--border-radius)
    }
}

.masonry {
    margin: var(--padding-small)
}

//Hide
:global(.hide-title) {
    .title {
        display: none
    }
}

:global(.hide-excerpt) {
    .excerpt {
        display: none
    }
}

:global(.hide-info) {
    .info {
        display: none
    }
}

:global(.hide-title.hide-excerpt.hide-tags.hide-info) {
    .grid, .masonry {
        .about {
            display: none
        }
    }
}