.popover {
    width: 10rem
    height: 6rem
}

.content {
    height: 100%
    cursor: pointer
    display: flex
    flex-direction: column
    gap: var(--padding-medium)
    align-items: center
    justify-content: center
}

.icon {
    opacity: .5
}

:not(.isDropping) .content:hover,
.isDropping:after {
    background: unquote('hsla(var(--accent-hsl), .1)')
}

.isDropping:after {
    left:0;top:0;right:0;bottom:0;
    content: ""
    position: absolute
    z-index:1
    pointer-events: none
}