.page {
	-webkit-app-region: drag
	width: 100%
	height: 100%
	overflow: auto
    display: grid
	grid-template-columns: minmax(auto, 17.5rem) //700px
    grid-template-rows: 1fr auto
	align-items: center
	justify-content: center
	background-image: linear-gradient(to bottom, var(--alternative-background-color) 0%, var(--alternative-background-color) 100%)

	> * {
        -webkit-app-region: no-drag;
    }
}

.content {
	width: 100%
	padding: calc(var(--padding-large) * 2) var(--padding-large)
}

.logo {
	margin: var(--padding-medium)
	display: block
	width: 48px
	height: 48px
}