.footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-medium)
}

.loading {
    color: var(--secondary-text-color)
}