.template {
    margin-top: var(--padding-medium)
}

.section {
    padding: 0 var(--padding-medium)
    font-size: var(--primary-font-size)
    opacity: .5
}

.icons {
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-column-gap: var(--padding-mini)
    grid-row-gap: var(--padding-mini)
    padding: var(--padding-medium)

    .icon {
        content-visibility: auto
        text-align: center
        padding: var(--padding-mini)
        border-radius: var(--border-radius)
        transition: opacity .1s ease-in-out, background .1s ease-in-out;

        img {
            pointer-events: none
            object-fit: contain
        }

        &:hover {
            opacity: .9
            background: var(--hover-background-color)
        }
    }
}