:global(.svSidebar) {
    display: flex;
    flex-direction: column;
    --background-color: var(--alternative-background-color);
    background-color: var(--background-color);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 1px;
        box-shadow: inset calc(var(--shadow-height) * -1) 0 0 var(--shadow-color);
    }
}

:global(.svSidebarBackdrop) {
    background: var(--shadow-color);
}