.resize {
    user-select: none;
    cursor: col-resize;
    position: relative;
    width: 7px;
    position: absolute;
    right: -7px;
    top: 0;
    bottom: 0;
}

html:global(.windows) {
    .resize, .disableSelect {
        cursor: e-resize;
    }
}

.disableSelect {
    user-select: none
    pointer-events: none
    cursor: col-resize
}