:global(.svSidebarResize) {
    user-select: none;
    cursor: col-resize;
    position: relative;
    width: 7px;
    margin-left: -4px;
}

html:global(.windows) :global(.svSidebarResize) {
    cursor: e-resize;
}

.disableSelect {
    user-select: none
}