.path {
    direction: rtl
    text-align: left
    
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    word-wrap: break-word
}

.path span {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.parents {
    color: var(--secondary-text-color)
}