.items {
    width: 500px
    max-width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, 128px)
    grid-auto-rows: 1fr
    grid-gap: var(--padding-medium)
    padding: var(--padding-medium)
}

.item {
    appearance: none
    border: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    border-radius: var(--border-radius)
    overflow: hidden
    background: rgba(125, 128, 128, .12)
    width: 128px
    height: 96px

    img {
        display: block
        max-width: 100%
    }
}