.upgrade {
    box-shadow: 0 calc(var(--shadow-height) * -1) 0 var(--shadow-color)
    background: var(--alternative-background-color)
    font-size: var(--secondary-font-size)
    color: var(--primary-text-color)
    padding: calc(var(--padding-small) + var(--padding-mini)) var(--padding-medium)
    display: flex
    align-items: center
    overflow: hidden
    overflow: clip
    position: relative
    z-index: 1

    &:hover {
        background: var(--accent-color)
        color: var(--background-color)
    }
}

.pic {
    position: absolute
    right: 16px
    transform: rotate(15deg)
}

.title {
    flex: 1
    margin-right: 85px
}