.icon {
	display: inline-block;

	svg {
		display:block;
		fill: currentColor;
		width: var(--icon-size);
		height: var(--icon-size);
	}
	
	&[data-size="micro"] svg, &[data-size="micro"] {
		width: calc(10px * var(--app-size))
		height: calc(10px * var(--app-size))
	}
}

.icon[data-enlarge='1'] svg, .icon[data-enlarge='1'] {
	width: var(--icon-size);
	height: var(--icon-size);
}

.icon[data-enlarge='1.5'] svg, .icon[data-enlarge='1.5'] {
	width: calc(var(--icon-size) * 1.5);
	height: calc(var(--icon-size) * 1.5);
}

.icon[data-enlarge='2'] svg, .icon[data-enlarge='2'] {
	width: calc(var(--icon-size) * 2);
	height: calc(var(--icon-size) * 2);
}

.icon[data-enlarge='3'] svg, .icon[data-enlarge='3'] {
	width: calc(var(--icon-size) * 3);
	height: calc(var(--icon-size) * 3);
}