.elements {
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

    .items {
        flex: 1
    }
}

.isDropping:before {
    background: unquote('hsla(var(--accent-hsl), .1)')
    left:0;top:0;right:0;bottom:0;
    content: ""
    position: absolute
    z-index:1
    pointer-events: none
}

.grid {
    grid-gap: var(--padding-medium)
    padding: var(--padding-medium)
    padding-bottom: 0
}

.masonry {
    padding: var(--padding-small)
}

.wrap-grid, .wrap-masonry {
    background: var(--alternative-background-color)
}