.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 1), minmax(0, 1fr));
    grid-template-rows: 1fr;
}

.scrollable {
    overflow-y: auto !important
    overflow-y: overlay !important
    width: 100%
    height: 100% !important
}